{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'facilitation/layout'
        ]);
    </script>
    <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>
{% endblock %}
{% block delaylib %}
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_dashboard' %}
{% endblock %}
{% block header %}

{% endblock %}
{% block body %}

<div style="max-width:1200px; margin:auto;">

	<div id="feng-button-group" class="ui five item menu">
		<a href="/{{ forum_url }}/dashboard/overview" class="item feng-button active" data-content="overview">Overview</a>
		<a href="/{{ forum_url }}/dashboard/phase" class="item feng-button" data-content="phase">Phase Control</a>
		<a href="/{{ forum_url }}/dashboard/message" class="item feng-button">Message Center</a>
		<a href="/{{ forum_url }}/dashboard/theme" class="item feng-button" data-content="theme">Theme Management</a>
		<a href="/{{ forum_url }}/dashboard/document" class="item feng-button" data-content="document">Document Management</a>
	</div>

	<div class="ui five small ordered steps" style="padding:0;">
		<a href="#" class="completed step">
			<div class="content">
				<div class="title">Extract Nuggets</div>
			</div>
		</a>
		<a class="active step">
			<div class="content">
				<div class="title">Assemble Claims</div>
			</div>
		</a>
		<a class="step">
			<div class="content">
				<div class="title">Categorize Claims</div>
			</div>
		</a>
		<a class="step">
			<div class="content">
				<div class="title">Refine Statements</div>
			</div>
		</a>
		<a class="step">
			<div class="content">
				<div class="title">Finalize Statements</div>
			</div>
		</a>
	</div>

	<div class="ui grid">
		<div class="three wide column">

			<div class="ui vertical menu" id="feng-button-group" style="width:100%; max-width:15rem;">
				<div class="item">
					<div class="menu">
						<a class="item active feng-button">Overview</a>
					</div>
				</div>
				<div class="item">
					Control Panel
					<div class="menu">
						<a class="item feng-button" data-content="phase">Process Control</a>
						<a class="item feng-button">Message Center</a>
						<a class="item feng-button">User Management</a>
						<a class="item feng-button" data-content="theme">Theme Management</a>
						<a class="item feng-button" data-content="document">Document Management</a>
					</div>
				</div>
				<div class="item">
					Dashboard
					<div class="menu">
						<a class="item feng-button">Overview</a>
						<a class="item feng-button">Phase1</a>
						<a class="item feng-button">Phase2</a>
						<a class="item feng-button">Phase3</a>
						<a class="item feng-button">Phase4</a>
					</div>
				</div>
			</div>

		</div>

		<div class="thirteen wide column" id="feng-container">
			<div class="thirteen wide column view" id="feng-document-container" style="display:none;"></div>
			<div class="thirteen wide column view" id="feng-theme-container" style="display:none;"></div>
			<div class="thirteen wide column view" id="feng-phase-container" style="display:none;"></div>
		</div>
	</div>

</div>




{% endblock %}
