<div class="ui top fixed menu">
	<a href="/"><img style="height:40px;vertical-align:middle;margin:0 1em;" src="/media/gdlogo.png" alt="Geodeliberator Logo"></a>
	<div class="title item">{{ forum_name }}</div>
	<div class="ui dropdown blue item" tabindex="0">
		{{ phase_info.selected_phase_name }}
		<i class="icon dropdown" tabindex="0"></i>
		<div class="menu" tabindex="-1">
		{% for phase in phase_info.phases %}
			<a href="/{{ forum_url }}/phase/{{ phase.name }}" class="item {{ phase.status }}">{{ phase.fullname }}</a>
		{% endfor %}
		</div>
	</div>
	<div class="ui dropdown item" id="instruction-btn">Instructions {% if pinmessages|length > 0 %}<div class="ui red horizontal label">{{ pinmessages|length }}</div>{% endif %}</div>	

	<div id="issue-desc-btn" class="ui item" data-content="{{ forum_description }}" data-variation="very wide">
		Issue description
	</div>

	{% if user_id == '-1' %}
	<div id="header-visitor-wrapper" class="right menu" style="display:flex">
		<a class="item">
			<div id="login-btn">Log in</div>
		</a>
		<a class="item">
			<div id="signup-btn">Sign up</div>
		</a>
	</div>
	{% else %}
	<div class="right menu" style="display:flex">
		<a id="show-messages" class="item"><i class="mail icon"></i>Tasks & Updates</a>
		<div class="ui dropdown item" tabindex="0">
			<span id="header-user-name" data-id="{{ user_id }}"{% if role %} data-role="{{ role }}"{% endif %}>{{ user_name }}</span>
			<i class="icon dropdown" tabindex="0"></i>
			<div class="menu" tabindex="-1">
				<a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
				<a href="/" class="item"><i class="list layout icon"></i>Switch forum</a>
				<a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
			</div>
		</div>
		{% if role == 'facilitator' or role == 'admin' %}
		<a href="/{{ forum_url }}/dashboard/overview" target="_blank" class="item">
			<i class="icon dashboard"></i>
		</a>
		<div id="user-switch-menu" class="ui dropdown item" tabindex="0">
			<i class="icon spy"></i>
			<i class="icon dropdown" tabindex="0"></i>
			<div class="switch user menu" tabindex="-1">

			</div>
		</div>
		{% endif %}
	</div>
	{% endif %}
</div>

<div class="ui modal" id="instruction-modal">
  	<i class="close icon"></i>
	<div class="header">
		Instructions
	</div>
	<div class="content">
		<div class="ui relaxed divided list">
			{% for message in pinmessages %}
			<div class="item">
				<div class="content">
					{{ message.content }}
				</div>
			</div>
			{% endfor %}
		</div>	
	</div>
</div>