<div class="ui top fixed menu">
	<img style="height:40px;vertical-align:middle;margin:0 1em;" src="/media/gdlogo.png" alt="Geodeliberator Logo">
	{% if user_id == '-1' %}
		<div id="header-visitor-wrapper" class="right menu" style="display:flex">
			<a class="item">
				<div id="login-btn">Log in</div>
			</a>
			<a class="item">
				<div id="signup-btn">Sign up</div>
			</a>
		</div>
	{% else %}
		<div id="header-member-wrapper" class="right menu" style="display:flex">
			<div class="ui dropdown simple item" tabindex="0">
				<span id="header-user-name" data-id="{{ user_id }}"{% if role %} data-role="{{ role }}"{% endif %}>{{ user_name }}</span>
				<i class="icon dropdown" tabindex="0"></i>
				<div class="menu" tabindex="-1">
					<a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
					<a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
				</div>
			</div>
		</div>
	{% endif %}
</div>