{% extends 'base.html' %}
{% load compressed %}
{% block extralib %}
	<script>
		require([
			'phase4/claim'
		]);
	</script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}

<div class="ui claim grid">
	<div id="draft-stmt-container" class="eight wide column">
		<div class="ui info message">
			<div class="ui instructions accordion">
				<div class="ui active title"><i class="dropdown icon"></i>Current phase: Claim refinement</div>
				<div class="active content">
					Specific instuctions go here.
				</div>
			</div>
		</div>
		<div id="draft-stmt"></div>
	</div>
	<div id="claim-pane-fullscreen" class="eight wide column">
		<div class="ui message">Please click "Open Discussion" from the left column.</div>
	</div>
</div>
{% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %}
{% endblock %}