	<div id="qa-wrapper" style="display:none;">
		<h3 class="ui header">Questions
			<i style="float:right;" id="close-qa-panel" class="large remove icon"></i>
		</h3>
		<div class="ui secondary  menu">
			<a class="item show-all active">
				All questions
			</a>
			<a class="item show-expert">
				Questions for experts
			</a>
		</div>
		<div class="ui fluid top attached two item blue pointing menu">
			<a class="item refresh-list">Refresh List</a>
			<a class="item new-question">Raise a question</a>
		</div>
		<div class="ui buttom attached secondary segment new question hidden">
			<form class="ui form">
				<div class="ui message">
					If your question has a context in the document, please ...
				</div>
				<div class="field">
					<textarea rows="3"></textarea>
				</div>
				<button class="ui submit primary button make-comment">Submit</button>
			</form>
		</div>
		<div id="qa-list"></div>
	</div>