{% if questions %}
<div class="ui relaxed list">
{% for question in questions %}
	<div class="question item" data-id="{{ question.id }}">
		<div class="ui info refresh prompt message">New activities in this thread.</div>
		<div class="content">
			<div class="header">{{ question.text }}</div>
			<div class="description">
				<span>
					<b>Raised by</b>
					<a class="user {{ question.author_role }}" data-id="{{ question.author_id }}">{{ question.author_name }}</a>
					<abbr title="{{ question.created_at_pretty }}">{{ question.created_at_pretty }}</abbr>
					{% if question.last_reply_pretty %}
						<span> | </span>
						<b>Last reply:</b>
						<abbr title="{{ question.last_reply_pretty }}">{{ question.last_reply_pretty }}</abbr>
					{% endif %}
					(<span class="reply-cnt">{{ question.reply_count }}</span> replies)
				</span>
			{% if question.doc_id %}
				<div>Raised in document <b>{{ question.doc_name }}</b></div>
			{% endif %}

			</div>
			<div class="ui text menu" style="margin:0;">
				<a class="item expand-thread" data-id="{{ question.id }}">Show thread</a>
				{% if question.doc_id %}
					<a class="item find-in-doc" data-id="{{ question.doc_id }}" data-highlight-id="{{ question.highlight_id }}">Reveal in document</a>
				{% elif question.claim_id %}
					<a class="item find-in-claim" claim-id="{{ question.claim_id }}" data-variation="very wide" 
						data-html='
								<div class="ui one column divided left aligned grid">
									<div class="column">
										<h4 class="ui header">Claim</h4>
										<p>{{ question.claim_content }}</p>
										<span>{{ question.claim_author }} | {{ question.claim_created_at }}</span>
									</div>
								</div>'
					>Preview related claim</a>
				{% endif %}
				<div class="right menu">
					<a class="item claim-question-vote {% if question.voted %}voted{% endif %}">
						Vote (<span class="vote-cnt">{{ question.vote_count }}</span>)
					</a>
					<a class="item claim-question-expert {% if question.is_expert %}experted{% endif %}">
						Need experts
					</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="ui message">
	No questions at all.
</div>
{% endif %}
<div id="qa-thread" class="ui basic secondary segment" style="display:none"></div>
