<div style="position:absolute; left:0; width:200px;">
	<div class="ui segments">
		<div class="ui segment">
			<div class="ui form">
				<div class="grouped fields">
					<label>How often do you use checkboxes?</label>
						<div class="field">
						<div class="ui radio checkbox pie-object">
							<input type="radio" name="pie-object" checked="checked" value="author_name">
							<label>Panelist</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox pie-object">
							<input type="radio" name="pie-object" value="theme_name">
							<label>Theme</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="position:absolute; left:200px;">
	<div id="pie-container">
	</div>
</div>