#chatter-wrapper {
	width: 37.5%!important;
	position: fixed;
	right: 0.5em;
	bottom: 0;
	-webkit-box-shadow: 0 0 5px 1px #d4d4d5;
	-moz-box-shadow: 0 0 5px 1px #d4d4d5;
	box-shadow: 0 0 5px 1px #d4d4d5;
	border: #bcbdbd 2px solid;
	border-radius: 5px;
}
#chatter-wrapper .disconnected.message {
	display: none;
}
#chatter-wrapper.disconnected .disconnected.message {
	display: block;
}
#chatter-wrapper.disconnected .online.users.segment {
	display: none;
}
#chatter-wrapper.minimized {
	bottom: 2em;
	border: none;
}
#chatter-wrapper:not(.minimized) {
	min-height: 60%;
}
#chatter-wrapper .online.users.list {
	overflow: auto;
}
#chatter-wrapper .online.users.list .label {
	margin: 1em 1em 0 1em;
}
#chatter-wrapper .comments.list {
	padding: 0.5em;
}
#chatter-wrapper .chat.title {
	position: absolute;
	width: 100%;
	height: 2.5em;
	margin: 0;
	border-radius: 0;
	border-top: 1px solid #BCBDBD;
}
#chatter-wrapper.minimized .comments.segment,
#chatter-wrapper.minimized .online.users.list,
#chatter-wrapper.minimized .reply.form,
#chatter-wrapper.minimized .warning.message,
#chatter-wrapper.minimized .chat.title {
	display: none!important;
}
#chatter-wrapper .reply.form {
	padding: 0;
	position: absolute;
	bottom: 0;
	height: 9em;
	width: 100%;
	background-color: #fff;
}
#chatter-wrapper .reply.form textarea {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#chatter-wrapper .comments.segment {
	padding: 1em;
	position: absolute;
	bottom: 9em;
	width: 100%;
	background-color: #F3F3F3;
	top: 11em;
	overflow: auto;
}
#chatter-wrapper:not(.minimized) .online.users.segment {
	height: 9em;
	padding-top: 2em;
	background-color: #F3F3F3;
	overflow: auto;
}
#chatter-wrapper .comments.list .author {
	display: inline;
}
