.ui.claim.grid {
	height: 100%;
	overflow: hidden;
}

#claim-container {
	height: 100%;
	overflow: auto;
}

#draft-stmt-container {
	height: 100%;
	overflow: auto;
	padding-bottom:3em;
}

#claim-pane-fullscreen {
	height: 100%;
	overflow: auto;
}
#claim-pane-fullscreen .ui.header {
	background-color: #DBDCDD;
}
#claim-container .hidden {
    display: none;
}
#claim-pane > .ui.segments {
	border: none;
}
#claim-pane-overview > .merging.menu {
	padding: 0.5em 0;
	display: none;
	border-radius: 0;
}
#claim-pane-overview > .ui.empty.segment {
	height: 10em;
	border: none;
	border-radius: 0;
}
#claim-pane-overview .ui.menu {
	min-height: 0;
}

.claim.column > .ui.menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: inherit;
	border-bottom: 1px solid #D4D4D5!important;
	width: calc(100% + 2px);
	margin: 0 -1px;
	border: none;

}

.ui.secondary.menu .dropdown.item > .menu {
    margin-top: 0!important;
}
.ui.secondary.menu .claim-addstmt-handle {
	cursor: move;
	color: #999999;
	padding: 0;
}
.ui.secondary.menu .claim-addstmt-handle:hover {
	color: #000;
}
#claim-pane-overview .claim-content {
	font-size: 1.2em;
}
.claim.segment {
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.claim.segment.accordion {
	opacity: 0.6;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.claim.segment.accordion .title {
	margin: -0.6rem 0 0 0;
}
.highlight-found {
	background-color: #f2c61f!important;
}
.claim-metainfo {
	margin: 10px 0;
	font-size: 12px;
}
.claim-metainfo > * {
	display: inline-block;
}

del {
	color: red;
}
ins {
	color: green;
	font-weight: 600;
}
.activity-content > .summary {
	font-weight: inherit!important;
}
a.claim-vote-btn.unready,
a.claim-vote-btn.unready:hover {
	cursor: default!important;
	color: rgba(40,40,40,.3)!important;
	background-color: transparent!important;
}
#claim-pane-overview .claim.segment {
    padding-bottom: 0;

}
#claim-pane-overview .stmt.segment {
	background-color: #FFFAF3;
}

#claim-container .private.claim.segment {
    opacity: 0.6;
}
#claim-navigator {
	position: fixed;
	top: 3em;
	bottom: 1em;
    overflow: auto;
}
#claim-navigator .vertical.menu {
	width: 100%;
	overflow-x: hidden;
    margin: 1em 0 0 0;
}
#claim-navigator .vertical.menu .claim.item {
	white-space: nowrap;

}

#draft-stmt .stmt.progress {
	margin:0;
}

#draft-stmt > .list {
	margin: 0;
	font-size: 1.2em;
}
#draft-stmt .slot-title {
	display: inline-block;
}
#draft-stmt .slot-title:not(.empty) {
	color: #000;
}
#draft-stmt .slot-title-wrapper {
	display: inline-block;
	width: calc(100% - 40px);
}
#draft-stmt .slot-title:hover {
	cursor: text;
	background-color: #fff;
}
#draft-stmt .slot-title-input {
	cursor: text;
	margin: 2px 1em 0;
	border:	 1px solid #A7A7A7;
	background-color: #fff;
	width: 40%;
}

#draft-stmt .ui.progress .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	font-size: 1.1em;
	font-weight: bold;
	margin-top:0.2em;
}

#draft-stmt .ui.progress .label {
	top: 0;
	font-weight: inherit;
	left: -40%;
}

#draft-stmt .phase3.slot .src_claim {
	overflow: hidden;
	color: #999999;
	line-height: 1.4;
}

#draft-stmt .phase3.slot .theme.label {
	display: block;
	margin-bottom: 5px;
}

#draft-stmt .phase3.slot .src_claim:last-child {
	padding-bottom: 0;
}
#draft-stmt .item.empty {
	position: relative;
	height: 3em;
}
#draft-stmt .src_claim:hover .destmt.button {
	display: block;
}
#draft-stmt .slot.phase3:hover .src_claim {
	max-height: inherit;
	color: #000;
}

#draft-stmt .slot .reorder-handle {
	cursor: ns-resize;
}
#draft-stmt .slot .move-claim-handle {
	cursor: move;
}
#draft-stmt .slot .destmt.button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
#draft-stmt .slot.ui-sortable-helper {
	background-color: #fff;
	overflow: hidden;
	max-height:3.5em;
}

#draft-stmt .sortable-placeholder {
	background-color: #D9D9D9;
	height: 7em;
	border-radius: 10px;
	border: 5px dashed #2185D0;
}
#draft-stmt .sortable-placeholder:after {
	width: 100%;
	height: 100%;
	content: 'Drop to move the slot here';
	position: absolute;
	z-index: 2;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
}
#draft-stmt .phase3.slot.to-drop:after {
	background-color: #D9D9D9;
	width: 100%;
	height: 100%;
	content: 'Drop to Question Bucket';
	position: absolute;
	visibility: visible;
	z-index: 2;
	text-align: center;
	border-radius: 10px;
	border: 5px dashed #2185D0;
	font-size: 2em;
	line-height: 1em;
	top: 0;
}
#draft-stmt li.item.active .slot-hidden {
	display: block!important;
}
#draft-stmt .phase4.slot .description {
	margin-bottom:0;
}
#draft-stmt .phase4.slot .src_claim {
	font-size:1.3em;
	line-height:1.3em;
}
#draft-stmt .stmt-refresh-category {
	cursor: pointer;
}
/*.droppable-edge:after {*/
	/*display: block;*/
	/*background-color: #F3F4F5;*/
	/*height: 42px;*/
	/*content: 'Move a claim here to create a new slot';*/
	/*text-align: center;*/
	/*border-radius: 0.3em;*/
	/*border: 2px solid #2185D0;*/
	/*font-size: 1em;*/
	/*line-height: 2em;*/
	/*margin-top: 14px;*/
/*}*/
.droppable-edge.to-drop:after {
	background-color: #D9D9D9;
	content: 'Drop to create a new slot';
	border: 5px dashed #2185D0;
}
#draft-stmt .phase4.slot.to-drop:after {
	background-color: #fff;
	width: 100%;
	height: 100%;
	content: 'Drop to move to slot';
	position: absolute;
	visibility: visible;
	z-index: 2;
	text-align: center;
	border-radius: 0.1em;
	border: 5px dashed #2185D0;
	font-size: 2em;
	line-height: 1em;
	top: 0;
}

#claim-stmt-helper {
	width: 25em;
	max-height: 7em;
	overflow: hidden;
	position: fixed;
	z-index: 3;
}
#claim-stmt-helper:after {
	content: "";
	height: 2em;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white);
}
#claim-activity-feed .improve.menu,
#claim-activity-feed .post.menu {
	margin: 0;
}
#claim-activity-feed .ui.message {
	margin: 0.5em 0 0 0;
}
#claim-activity-feed .improved.text {
	font-size: 1.3em!important;
}
#claim-activity-feed .event[data-type="claim version"] {
	background-color: #F8FFFF;
	border-top: 1px #A9D5DE solid;
	margin-top: 0.5em;
	margin-left: -1em;
	width: calc(100% + 2em);
	padding: 0.5em 1em;
	border-bottom: 1px #A9D5DE solid;
}

.active-1 {
	border: 5px #A9D5DE solid;	
}

#doc-context-panel {
	position: absolute;
	left: -999999px;
	top: -999999px;
	width: 450px;
}

#doc-context-panel .doc-content {
	min-height: 300px;
	max-height: 400px;
	overflow: auto;
}

/*.feed-adopt-claim-version[data-action="deadopt"]{
    background: #2185D0!important;
    color: white!important;
}
.feed-adopt-claim-version[data-action="deadopt"] span{
  	position: relative;
    content: 'Adopted';
}
.feed-adopt-claim-version[data-action="deadopt"]:hover span{
    display: none;
}
.feed-adopt-claim-version[data-action="deadopt"]:hover:after{
    content: 'Retract';
}*/