#claim-pane .hidden {
    display: none;
}
.claim.column > .ui.menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui.secondary.menu .dropdown.item > .menu {
    margin-top: 0!important;
}
.ui.secondary.menu .claim-addstmt-handle {
	cursor: move;
}
.claim-content {
	font-size: 1.5em;
    line-height: 1.5em;
	padding-top: 0;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.claim.segment.accordion {
	opacity: 0.6;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.claim.segment.accordion .title {
	margin: -0.6rem 0;	
}
.highlight-found {
	background-color: #f2c61f!important;
}
.claim-metainfo {
	margin: 10px 0;
}
.claim-metainfo > * {
	display: inline-block;
}
textarea.claim.editor {
	font-size:1.5em;
}
.improved.text {
	font-size: 1.3em!important;
}
del {
	color: red;
}
ins {
	color: green;
	font-weight: 600;
}
.activity-content > .summary {
	font-weight: inherit!important;
}
a.claim-vote-btn.unready,
a.claim-vote-btn.unready:hover {
	cursor: default!important;
	color: rgba(40,40,40,.3)!important;
	background-color: transparent!important;
}
#claim-pane .claim.segment {
    padding-bottom: 0;
}
#claim-pane .claim.menu {
    margin: 0 -1.5em;
}
#claim-pane .private.claim.segment {
    opacity: 0.6;
}
#claim-navigator {
	position: fixed;
	top: 3em;
	bottom: 3em;
	padding: 1em 0 0 1em;
	right: 1em;
    overflow: auto;
}
#claim-navigator .vertical.menu {
	width: 100%;
	overflow-x: hidden;
    margin: 1em 0 0 0;
}
#claim-navigator .vertical.menu .claim.item {
	white-space: nowrap;

}
#draft-stmt .ui.progress .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	font-size: 1.1em;
	font-weight: bold;
}

#draft-stmt .description {
	max-height: 6em;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
}
#draft-stmt .description:hover .destmt.button {
	display: block;
}
#draft-stmt .description .destmt.button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
#draft-stmt .description:after {
	content: "";
	height: 3em;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white);
}
#draft-stmt .sortable-placeholder {
	background-color: #a9d5de;
	height: 7em;
}
.claim-stmt-helper {
	max-width: 25em;
	max-height: 7em;
	overflow: hidden;
	/*background-color: white;*/
	/*padding: 0.3em;*/
	/*border: 1px solid #767676;*/
	/*border-radius: 0.3em;*/
}
.claim-stmt-helper:after {
	content: "";
	height: 3em;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white);
}

/*4:3:3*/

/*#workbench-document-container {
	position: absolute;
	left: 0%;
	top: 0%; 
	bottom: 0%;
	right: 60%;
	margin: 0.5em;
}

#workbench-document-panel {
	left: 0%;
	top: 0%;
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-nugget-container {
	position: absolute;
	left: 40%;
	top: 0%;
	bottom: 0%;
	right: 30%;
    margin: 0.5em;
}

#workbench-nugget-panel {
	left: 0%;
	top: 0%; 
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-claim-container {
	position: absolute;
	left: 70%;
	top: 0%; 
	bottom: 0%;
	right: 0%;
	margin: 0.5em;
}

#workbench-claim-panel {
	left: 0%;
	top: 0%; 
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-theme-container {
	padding: 0.5em;
	margin: 0.5em;
}
*/

/*.workbench-documents-column:nth-of-type(even) {
	background: #FFCCCC;
}*/