#claim-pane .hidden {
    display: none;
}
.claim.column > .ui.menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui.secondary.menu .dropdown.item > .menu {
    margin-top: 0!important;
}
.claim-content {
	font-size: 1.5em;
    line-height: 1.5em;
	padding-top: 0;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.claim.segment.accordion {
	opacity: 0.6;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.claim.segment.accordion .title {
	margin: -0.6rem 0;	
}
.highlight-found {
	background-color: #f2c61f!important;
}
.claim-metainfo {
	margin: 10px 0;
}
.claim-metainfo > * {
	display: inline-block;
}
textarea.claim.editor {
	font-size:1.5em;
}
.improved.text {
	font-size: 1.3em!important;
}
del {
	color: red;
}
ins {
	color: green;
	font-weight: 600;
}
.activity-content > .summary {
	font-weight: inherit!important;
}
a.claim-vote-btn.unready,
a.claim-vote-btn.unready:hover {
	cursor: default!important;
	color: rgba(40,40,40,.3)!important;
	background-color: transparent!important;
}
#claim-pane .claim.segment {
    padding-bottom: 0;
}
#claim-pane .claim.menu {
    margin: 0 -1rem;
}
#claim-pane .private.claim.segment {
    opacity: 0.6;
}
#claim-navigator {
	position: fixed;
	top: 3em;
	bottom: 3em;
	padding: 1em 0 0 1em;
	right: 1em;
    overflow: auto;
}
#claim-navigator .vertical.menu {
	width: 100%;
	overflow-x: hidden;
    margin: 1em 0 0 0;
}
#claim-navigator .vertical.menu .claim.item {
	white-space: nowrap;

}

#workbench-document {
	position: fixed;
	top: 3em;
	bottom: 3em;
	padding: 1.5em;
	left: 0em;
    overflow: auto;
}

#workbench-container {
	position: fixed;
	top: 3em;
	bottom: 3em;
	padding: 1.5em;
	right: 0em;
    overflow: auto;
}