#cir {
  margin: 0rem;
  padding: 1rem;
	background-color: #F3F4F5;
}


#cir .container {
  position: relative;
  max-width: 1050px;
  margin: 0px auto;
}

#cir .following.menu .menu .active.item {
  font-weight: bold;
}
#cir .following.menu .item .menu {
  margin: 0em;
}
#cir .following.menu .menu .item {
  margin: 0em;
  padding: 0.5rem 0.25rem;
}

@media only screen and (max-width : 400px) {
  #cir .advertisement {
    max-width: 260px;
  }
}
@media only screen and (max-width : 600px) {
  #cir .solid, #cir .stripe {
    padding: 4em 0em;
  }
  #cir .container {
    width: auto;
    margin: 0em 1rem;
  }
  #cir .footer .container {
    margin: 0em;
  }
  #cir .main.container {
    padding: 2em 1em;
    border: none;
    box-shadow: none;
  }
  #cir .header.segment {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  #cir .example i.code {
    opacity: 0.3;
  }
  #cir .example i.code:hover {
    opacity: 1;
  }
}

@media only screen and (min-width : 600px) and (max-width : 998px) {
  #cir .container {
    width: auto;
    margin: 0em 2rem;
  }
  #cir .header .button {
    margin-bottom: 0.5em;
  }
  #cir .main.container {
    padding: 1em 2em;
  }
}

/*@media only screen and (max-width : 998px) {

  #cir > .pusher {
    display: block;
    width: 100%;
    height: auto;
  }
  #cir > .pusher > .full.height {
    display: block;
    height: auto;
  }
  #cir .following.menu {
    display: none;
  }
}*/
@media only screen and (min-width : 998px) {
  #cir .following.menu {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  #cir .introduction {
    display: block;
  }
  #cir .advertisement {
    left: 100%;
    padding-left: 0em;
    position: absolute;
    top: -1em;
    vertical-align: top;
  }
}
@media only screen and (min-width : 998px) and (max-width: 1200px) {
  #cir .header.segment .container {
    width: 878px;
    right: -24px;
  }
  #cir .tab.header.segment .tabular.menu {
    width: 680px;
  }
  #cir .container .right.rail {
    width: 200px;
    padding-left: 0em;
  }
  #cir .main.container > .right.rail .sticky,
  #cir .main.container > .tab > .right.rail .sticky {
    width: 200px;
  }
}

@media only screen and (min-width : 1355px) {
  #cir.item .container,
  #cir.card .container {
    width: 965px;
  }
}



/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 998px) {
  #cir .fixed .container,
  #cir .secondary .container {
    width: auto;
    margin: 0px auto;
    max-width: 9999px;
  }
}


@media only screen and (max-width : 780px) {
  pre.console {
    height: 150px;
  }
  #cir .introduction {
    display: block;
  }
  #cir .advertisement {
    display: block;
    margin: 1em auto;
    padding: 0em;
  }
  #cir #toc .hide.item {
    display: block;
  }
  #cir #toc .item > .icon {
    font-size: 1em !important;
  }
  #cir .advertisement #carbonads {
    float: none;
    width: 100%;
  }
  #cir:not(.index) .introduction .button {
    float: none;
    margin: 0 0.5em 0.5em 0;
  }
}

@media only screen and (max-width : 600px) {
  #cir .main.menu .borderless.item {
    display: none;
  }
  #cir .fixed .developer,
  #cir .fixed .designer,
  #cir .fixed .previous,
  #cir .fixed .next {
    display: none;
  }
  #cir .tab.header.segment .tabular.menu {
    display: none;
  }

  #cir .tab.header.segment .vertical.menu {
    display: block;
  }
}
@media only screen and (max-width : 450px) {
  #cir .main.menu .icon.item {
    display: none;
  }
  #cir .main.menu .github.item {
    display: inline-block;
  }
  #cir .main.menu .github.item:before {
    display: none;
  }
  #cir #carbonads {
    height: 135px;
  }
  #cir #carbonads .carbon-text {
    width: 90px;
  }
}

#cir .masthead .mobile.buttons {
  display: none;
}
@media only screen and (max-width : 470px) {
  #cir .masthead .tag.label {
    display: none;
  }
  #cir .masthead .inverted.buttons {
    display: none;
  }
  #cir .masthead .mobile.buttons {
    display: block;
  }
  #cir.button-page .ui.buttons,
  #cir.button-page :not(.buttons) .ui.button {
    margin-bottom: 0.5em;
  }
  #cir .masthead:before {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
  }
}

@media only screen and (max-width : 640px) {
  #cir .header.segment .download.button {
    display: none;
  }
  #cir .language.dropdown .menu {
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 316px;
  }
  #cir.transition .fixed.column {
    display: none;
  }
  #cir.transition .examples {
    width: 100%;
  }
  #cir.transition .examples .pointing.below.label {
    display: none;
  }
}
@media only screen and (max-width : 998px) {
  #cir .examples {
    margin-right: 230px;
    padding: 1px;
  }
  #cir .fixed.column,
  #cir .fixed.column .fixed {
    width: 200px;
  }
}
/*@media only screen and (min-width : 998px) {
  #cir .examples {
    margin-right: 280px;
    padding: 1px;
  }
  #cir .fixed.column,
  #cir .fixed.column .fixed {
    width: 250px;
  }
  #cir > .pusher {
    display: flex;
    overflow: visible;
    min-height: 100vh;
    flex-direction: column;
  }

  #cir > .pusher > .full.height {
    flex: 1;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cir > .pusher > .full.height {
    flex: none;
  }
}*/