#document-categories,
#document-pane {
	font-size: 1.3rem;
}
#document-pane {
    margin-bottom: 4em;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tk {
	text-decoration: none;
	-moz-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.tk.n,
.tk.p,
.tk.q,
.tk.c,
.tk.t {
	cursor: pointer;
}
.tk.n {
	background-color: #FF66CC;
}
.tk.p {
	background-color: rgba(224, 123, 83, 0.2);
}
.tk.q {
	background-color: rgba(217, 92, 92, 0.5);
}
.tk.c {
	background-color: rgba(113, 217, 255, 0.5);
}
.tk.t {
	background-color: rgba(172, 235, 117, 0.8);
}
.tk.highlighted { /* must be put after p, q and c */
	background-color: #f2c61f;
}
#doc-highlight-toolbar,
#doc-thread-popup {
	position: absolute;
	left: -999999px;
	top: -999999px;
	z-index: 900;
}
#doc-highlight-toolbar .labeled.menu,
#doc-thread-popup .labeled.menu {
    padding: 0;
}
.section-content {
	line-height: 1.6em;
}
.section-content img {
	max-width: 100%;
}
.fixed.ui-dialog {
	position: fixed!important;
	z-index: 900;
}
.comment.form textarea {
	min-height: inherit;
	height: inherit;
}
#doc-thread-popup .segment {
	min-width: 450px;
}
#doc-thread-content {
	max-height: 500px;
	overflow: auto;
}

#document-rail {
	position: fixed;
	top: 3em;
	bottom: 3em;
	overflow: auto;

}
#available-tags {
	margin-top: 2em;
}
#available-tags .ui.toggle.button {
	margin-bottom: 0.75em;
}
#qa-list .description {
	margin: 0.2em 0;
}