#popup-notification {
  top: 40px;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  position: fixed;
  z-index: 9999;
}
#sticked-notification {
	margin-top: 2em;
	margin-bottom: -2em;
}
.main.tab {
  padding-top: 3rem;
}
abbr {
  cursor: pointer;
}
.hidden {
  display: none;
}
a.user {
  cursor: pointer;
}
.ui.feed > .event {
  table-layout: fixed;
}
.user-initial {
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
  width: 4em;
}
.user-initial > * {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 500rem;
  font-size: 1.5em;
  color: #fff; 
}
.user-initial > .facilitator {
  background-color: #5bbd72;
  border-color: #5bbd72;
}
.user-initial > .admin {
  background-color: #00b5ad;
  border-color: #00b5ad;
}
.user-initial > .panelist {
  background-color: #3b83c0;
  border-color: #3b83c0;
}
.user-initial > .collective {
  background-color: #d95c5c!important;
  border-color: #d95c5c!important;
}
.user.facilitator {
  background-color: #5bbd72!important;
  color: #fff!important;
  border-radius: .2857rem;
  padding: 0 0.3rem;
}
.user.facilitator:after {
  content: ' (facilitator)';
}
#user-switch-menu .switch.user.menu {
  max-height: 500px;
  overflow: auto;
}
#user-switch-menu .switch.user.menu .item {
  padding: 5px 10px!important;
}
.doc-content img {
}
iframe[src^="//www.youtube.com"] {

    width: 100%;
    height: 100%;
}
#fixed-steps {
	position: fixed;
	bottom: -0.1em;
	left: 0;
	margin: 0;
}
#fixed-steps > .step {
	height: 1.2em;
}
@media only screen and (min-width: 1120px) {
	#citizens-statement {
		width: 62.5%;
		margin-left: auto;
		margin-right: auto;
	}
}

#citizens-statement {
	padding-top: 36px;
}
#citizens-statement .segment,
#citizens-statement .segment .description{
	font-size: 16px;
	line-height: 1.4em;
}

#messages-modal {
	height:80%;
	overflow: auto;
}
#message-list {
	padding:0 1em;

}
#message-list .message.item .header {
	white-space: nowrap;
	overflow: hidden;
	margin: 0.5em 0;
}

#message-list .message.item.important {
	background-color: #FFF4D3;
}
#message-list .message.item.done .mark-done {
	display: none;
}
#message-list .message.item.read .header {
	font-weight:inherit!important;
}
#message-list .message.item.done .header {
	font-weight:inherit!important;
	color: #999999!important;
}
#message-list:not(.show-done) .message.item.done {
	display: none;
}
#message-list.important-only .message.item:not(.important) {
	display: none;
}
#message-details {
	background-color: aliceblue;
}
#message-details .highlight-found {
	background-color: yellow;
}