#popup-notification {
  top: 40px;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  position: fixed;
  z-index: 9999;
}
.main.tab {
  padding-top: 3rem;
}
abbr {
  cursor: pointer;
}
.hidden {
  display: none;
}
a.user {
  cursor: pointer;
}
.user-initial {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 500rem;
  font-size: 1.5em;
  color: #fff; 
  display: inline-block;
}
.user-initial.facilitator {
  background-color: #5bbd72;
  border-color: #5bbd72;
}
.user-initial.admin {
  background-color: #00b5ad;
  border-color: #00b5ad;
}
.user-initial.panelist {
  background-color: #3b83c0;
  border-color: #3b83c0;
}
.user-initial.collective {
  background-color: #d95c5c!important;
  border-color: #d95c5c!important;
}
.ui.feed > .event > .content.activity-content {
  display: inline-block;
  margin-left: 1em;
}