#workbench-document-container {
	position: absolute;
	left: 0%;
	top: 0%; 
	bottom: 0%;
	right: 60%;
	margin: 0.5em;
}

#workbench-document-panel {
	left: 0%;
	top: 0%; /*92%*/
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-nugget-container {
	position: absolute;
	left: 40%;
	top: 0%; /*92%*/
	bottom: 0%;
	right: 30%;
    margin: 0.5em;
}

#workbench-nugget-panel {
	left: 0%;
	top: 0%; /*92%*/
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-claim-container {
	position: absolute;
	left: 70%;
	top: 0%; /*92%*/
	bottom: 0%;
	right: 0%;
	margin: 0.5em;
}

#workbench-claim-panel {
	left: 0%;
	top: 0%; /*92%*/
	bottom: 0%;
	right: 0%;
	height: 94%;
	overflow: auto;
}

#workbench-theme-container {
/*	position: fixed;
	left: 0%;
	top: 3%; 92%
	bottom: 85%;
	right: 0%;
	overflow: auto;*/
	padding: 0.5em;
	margin: 0.5em;
}