{% extends "base.html" %}{% load i18n %}{% load url from future %}

{% block header %}
<div class="ui fixed inverted main menu">
	<div class="container">
		<div class="title item">Password recovery</div>
		<div class="right menu" style="display:inline-block">
			<a href="/" class="item">Back to homepage</a>
		</div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="ui grid container" style="margin-top:40px;">
	<div class="row">
		<div class="column">
			{% if invalid %}{% url "password_reset_recover" as recovery_url %}
			{% blocktrans %}<div class="ui warning message">
				Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.
			</div>{% endblocktrans %}
			{% else %}{% blocktrans %}
				<div class="ui info message">
					Please choose your new password.
				</div>{% endblocktrans %}
				<form class="ui form" method="post" action="{% url "password_reset_reset" token %}">
					{% csrf_token %}
					{{ form.as_table }}
					<p><input type="submit" value="{% trans "Set new password" %}"></p>
				</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
