	<div id="candidate-nugget-list" class="ui segments" style="margin-bottom: 1em;">
		{% for highlight in nuggets %}
			<div class="ui segment workbench-nugget nugget-related" data-hl-id = {{ highlight.id }} theme-id = {{ highlight.theme_id }}>
				<a class="ui small green right corner label nugget-select-mark" style="display:none;">
					<i class="checkmark icon"></i>
				</a>
				<div class="content">
					<div class="description more" data="{{ highlight.text}}">
						{{ highlight.text }}
					</div>
				</div>
				<div class="discription" style="color:rgba(0,0,0,.4);">
					<span class="ui label theme-label" theme-id={{ highlight.theme_id }}>{{ highlight.theme }}</span>
					<span> | </span>
					<span>{{ highlight.author_name }}</span>
					<span> | </span>
					<span>{{ highlight.created_at_pretty }}</span>
					<span style="float:right;" class="actions">
						<a href="#" class="item remove-nugget">remove</a>
						<span> | </span>
						<a href="#" class="item source-nugget">context</a>
					</span>
				</div>	
			</div>
		{% endfor %}
	</div>