<div id="candidate-nugget-list" style="margin-bottom: 1em;"></div>

<div class="ui accordion" id="claim-maker" claim-id="{{ claim.id }}">
	<div class="title">
	<i class="dropdown icon"></i>
		Suggest a claim
	</div>
	<div class="content">
		<div class="ui form" >
			<div class="field">
				<textarea></textarea>
			</div>
		</div>
		<div class="ui text menu" style="margin-top:0.5em;">						
		<!-- 			<div class="header item">theme</div>
			<select name="gender" class="ui dropdown item" id="nugget-list-order-by">
				<option value="option1">latest</option>
				<option value="option2">most popular</option>
			</select> -->
			<div class="right menu">
				<button id="clear-claim" class="ui button">
					clear
				</button>
				<button id="post-claim" class="ui primary button">
					post
				</button>
			</div>
		</div>
	</div>
</div>