{% if claims %} 
	{% for item in claims %}
		<div class="ui card workbench-claim-item">
			<div class="content">
				<div class="description workbench-claim-content" claim-id="{{ item.id }}" data-id="{{ item.highlight_ids }}">
					{{ item.content }}
				</div>
			</div>
			<div class="extra content">
				<div class="ui horizontal bulleted list">
					{% if item.is_author %}
						<a class="item workbench-remove-claim">remove</a>
						<a class="item workbench-source-claim">source</a>
					{% else %}
						<a class="item workbench-source-claim">source</a>
					{% endif %}
				</div>	
				<div class="right floated author">
					constrcuted by {{ item.author_name }} {{ item.date }}
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<div class="ui card workbench-claim-item">
		<div class="content">
			<div class="description">
				No claims yet.
			</div>
		</div>
	</div>
{% endif %}