<div class="slot" data-id="{{slot.id}}">

	<div class="ui raised pink segment">
		<h3>{{ slot.category|title|slice:"1" }}Q{{slot.stmt_order}}: {{ slot.slot_title }}</h3>
	
		<a class="ui teal label suggest-statement-window-open" slot-id="{{ slot.id }}" style="margin-bottom: 1rem;">Suggest a statement
		</a>

		<a class="ui label statement-question-comment-btn" slot-id="{{ slot.id }}" style="margin-bottom: 1rem; position: relative;">Discuss the question
			<div class="detail">{{ slot.num_comments }}</div>
			<div class="ui red circular label" style="position: absolute; right: -2rem; top: -1rem;">New</div>
		</a>

		<div class="ui secondary vertical segment" style="text-align: center; padding: 0.5rem; border:0;">
		  	<p>Adopted statements</p>
		</div>

		{% for entry in slot.adopted_versions %}
			<div class="summary ui vertical segment statement-entry adopted-statement" style="padding-bottom:0;" data-id="{{ entry.id }}">
				<div class="editing-status" style="display:none; padding:0; background: yellow; font-size: 0.8rem; text-align: center"></div>				
				<div class="edited-status" style="display:none; padding:0; background: yellow; font-size: 0.8rem; text-align: center"></div>
				<div class="edited">
					<div class="extra improved text" style="max-width: 2000px;">
						[ST{{ forloop.counter }}]
						<div class="ui mini label">S{{ entry.id }}</div>
						<span class="content" style="font-size: 1rem!important;">{{ entry.content | safe }}</span>
						<div class="ui small basic icon buttons reorder-btns" style="position: absolute; right: 0.5rem; top: 0.5rem; display:none;">
							<button class="ui basic button statement-reorder-up" style="padding:0.5rem;"><i class="icon arrow up"></i></button>
							<button class="ui basic button statement-reorder-down" style="padding:0.5rem;"><i class="icon arrow down"></i></button>
						</div>
					</div>

					<div class="ui red secondary improve small menu" data-id="{{ entry.id }}" style="margin-top: 0;">
						<div class="right menu">
							
							<a class="item statement-comment-btn" data-id="{{ entry.id }}"><i class="wechat icon"></i>Comments({{ entry.num_comments }})</a>

							<a class="item feed-edit-claim-2" data-action="like"><i class="edit icon"></i>Edit<span></span></a>

							<a class="item statement-history-btn"><i class="history icon"></i>History<span></span></a>
							<!-- <a class="item feed-like-claim-version" data-action="like"><i class="thumbs outline up icon"></i>Like<span></span></a> -->

							<a class="item statement-retract" data-id="{{ entry.id }}" data-action="deadopt"><i class="undo icon"></i>Retract</a>
						</div>
					</div>
				</div>
				
				<div class="editing" style="display:none;">
					<div class="content" style="font-size: 1rem!important;">
						<textarea row="3" style="width:100%!important;">{{ entry.content | safe }}</textarea>
					</div>

					{% if not entry.collective %}
					<div class="ui red secondary improve small menu" data-id="{{ entry.version_id }}" style="margin:0;">
						<div class="right menu">
							<a class="item feed-edit-claim-save-2"><i class="save icon"></i>Save</a>
							<a class="item feed-edit-claim-cancel-2"><i class="remove icon"></i>Cancel</a>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="statement-comments" style="display:none;">
					<div class="ui action input" style="width:100%; margin: 1rem 0;">
						<input type="text" placeholder="Make a comment...">
						<button class="ui teal button statement-comment-post" statement-id="{{ entry.id }}">
							<i class="send outline icon"></i>Comment
						</button>
					</div>
					<div class="content statement-comment-list" statement-id="{{ entry.id }}"></div>
				</div>
			</div>
		{% endfor %}

		<div class="ui secondary vertical segment" style="text-align: center; padding: 0.5rem; border:0;">
		  	<p>Candidate statements</p>
		</div>

		{% for entry in slot.unadopted_versions %}
			<div class="summary ui vertical segment statement-entry unadopted-statement" style="padding-bottom:0;" data-id="{{ entry.id }}">
				<div class="editing-status" style="display:none; padding:0; background: yellow; font-size: 0.8rem; text-align: center"></div>				
				<div class="edited-status" style="display:none; padding:0; background: yellow; font-size: 0.8rem; text-align: center"></div>
				<div class="edited">
					<div class="extra improved text" style="max-width: 2000px;">
						<div class="ui mini label">S{{ entry.id }}</div>
						<span class="content" style="font-size: 1rem!important;">{{ entry.content | safe }}</span>
						<div class="ui small basic icon buttons reorder-btns" style="position: absolute; right: 0.5rem; top: 0.5rem; display:none;">
							<button class="ui basic button statement-reorder-up" style="padding:0.5rem;"><i class="icon arrow up"></i></button>
							<button class="ui basic button statement-reorder-down" style="padding:0.5rem;"><i class="icon arrow down"></i></button>
						</div>
					</div>

					<div class="ui red secondary improve small menu" data-id="{{ entry.id }}" style="margin-top: 0;">
						<div class="right menu">
							
							<a class="item statement-comment-btn" data-id="{{ entry.id }}"><i class="wechat icon"></i>Comments({{ entry.num_comments }})</a>

							<a class="item feed-edit-claim-2" data-action="like"><i class="edit icon"></i>Edit<span></span></a>

							<a class="item statement-history-btn"><i class="history icon"></i>History<span></span></a>
							<!-- <a class="item feed-like-claim-version" data-action="like"><i class="thumbs outline up icon"></i>Like<span></span></a> -->

							<a class="item statement-adopt-btn" data-action="adopt"><span>Adopt</span></a>
						</div>
					</div>
				</div>
				
				<div class="editing" style="display:none;">
					<div class="content" style="font-size: 1rem!important;">
						<textarea row="3" style="width:100%!important;">{{ entry.content | safe }}</textarea>
					</div>

					{% if not entry.collective %}
					<div class="ui red secondary improve small menu" data-id="{{ entry.version_id }}" style="margin:0;">
						<div class="right menu">
							<a class="item feed-edit-claim-save-2"><i class="save icon"></i>Save</a>
							<a class="item feed-edit-claim-cancel-2"><i class="remove icon"></i>Cancel</a>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="statement-comments" style="display:none;">
					<div class="ui action input" style="width:100%; margin: 1rem 0;">
						<input type="text" placeholder="Make a comment...">
						<button class="ui teal button statement-comment-post" statement-id="{{ entry.id }}">
							<i class="send outline icon"></i>Comment
						</button>
					</div>
					<div class="content statement-comment-list" statement-id="{{ entry.id }}"></div>
				</div>
			</div>
		{% endfor %}

	</div>


	<div class="statement-entry" id="suggest-statement-window" data-id="{{slot.id}}" style="display:none;">

<!-- 		{% if slot.adopted_versions %}
			<div class="ui stacked segments" style="margin-top:1rem;">
				{% for stmt in slot.adopted_versions %}
					<div class="ui segment adopted-statement" data-id="{{ stmt.id }}">
						<h4 style="margin: 0;">[ST{{ forloop.counter }}] {{ stmt.content | safe }}</h4>
						<div class="ui small basic icon buttons reorder-btns" style="position: absolute; right: 0.5rem; top: 0.5rem; display:none;">
							<button class="ui basic button statement-reorder-up" style="padding:0.5rem;"><i class="icon arrow up"></i></button>
							<button class="ui basic button statement-reorder-down" style="padding:0.5rem;"><i class="icon arrow down"></i></button>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %} -->

<div style="font-size:1.2em; position:fixed; top:60px; bottom:0; left:0; right:50%; margin-right:1rem;">
	<h3 class="ui top attached center aligned header">
		Suggest a Statement
		<a href="#" id="close-suggest-statement-window" class="ui icon" style="float:right; margin:0; font-size:1rem;">
			Close
		</a>
	</h3>
	<div class="ui attached segment" style="height: calc(100% - 38px); overflow:hidden; overflow-y:scroll;">
		<div id="statement-container" class="ui bottom attached segment">
			<div class="statement-post" data-id="statement">
				<form class="ui form reword">
					<div class="field">
						<div id="use-nugget-labels">
						</div>
						<textarea style="font-size: 1rem !important;" rows="1" class="claim reword editor"></textarea>
						<div id="result" style="float:right;"></div>
					</div>
					<div class="ui primary submit button"><i class="send outline icon"></i>Suggest</div>
				</form>
			</div>
		</div>
		<div id="nugget-bag-origin">
			<div class="ui stacked segments src_claims" slot-id="{{slot.id}}" style="margin-top:1rem;">
				{% for src_claim in slot.claims %}
					<div class="src_claim ui secondary segment" data-id="{{ src_claim.id }}" style="padding: 0.5rem 1rem; ">
						<a class="ui mini {% if src_claim.statement_ids %} orange {% endif %} label temp-used"
							data-inverted="" 
							data-tooltip="{% for statement_id in src_claim.statement_ids %} S{{statement_id}} {% endfor %}" 
							data-position="top center">
							N{{ src_claim.id }} 
						</a>
						<span>{{ src_claim.content | safe }}</span>
						<div class="src_claim_actions" style="position: absolute; right: 0rem; top: 0.2rem; display:none;">
							<button class="ui blue button use-nugget-2" style="padding:0.5rem;"><i class="icon hand lizard"></i>Use</button>
							<button class="ui teal button source-nugget" style="padding:0.5rem;"><i class="icon file text"></i>Context</button>
							<button class="ui red button remove-claim" style="padding:0.5rem;"><i class="icon remove"></i>Remove</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

		<a style="display:none;" class = "show-workspace" slot-id="{{ slot.id }}">Details</a>
	</div>

	<div id="claim-activity-feed">
		<div class="ui small active inline loader"></div>Loading activities ...
	</div>
</div>


