<h4 class="ui top attached center aligned header">
	Slot details
</h4>
<div class="ui attached menu">
	<a class="item claim-reword-btn">Compose a new statement candidate</a>

</div>
<form class="ui form reword attached segment" style="display:none">
	<div class="ui info message">
		<div class="header">
			Hints for rewording a claim:
		</div>
		<ul class="list">
			<li>Please keep in mind that it is a candidate statement in the final product, so the language should be precise, clear, and informative.</li>
			<li>Please read the panel's discussion and think about their suggestions before writing your version.</li>
			<li>After submission, your version will appear in Activities as a candidate version; the facilitator will ultimately perform the adoption.</li>
		</ul>
	</div>
	<div class="field">
		<label><span>Reword this claim</span> (Ctrl + Enter to publish)</label>
		<textarea rows="1" class="claim reword editor"></textarea>
		<input type="hidden" name="collective">
	</div>
	<div class="ui primary submit button"><i class="send outline icon"></i>Submit</div>
	<div class="ui reset button">Cancel</div>
	<div class="ui request-action checkbox">
		<label>Request panel attention</label>
		<input type="checkbox" name="request">
	</div>
</form>
<h4 class="ui attached center aligned header">Activities on this slot (latest first)</h4>
<div id="claim-activity-feed" class="ui bottom attached segment">
	<div class="ui small active inline loader"></div>Loading activities ...
</div>
