{% if option.filter %}
<div id="claim-filter-pane">
    <h4 class="ui header">Filter by theme</h4>
    <div class="ui vertical text theme menu">
        <a data-value="0" class="item">(All)</a>
        {% for theme in themes %}<a data-value="{{ theme.id }}" class="item">{{ theme.name }}</a>{% endfor %}
        <a data-value="-1" class="item">(Unassigned)</a>
    </div>
    <h4 class="ui header">Filter by category</h4>
	<div class="ui vertical text category menu">
		<a data-value="all" class="item">(All)</a>
		<a data-value="pro" class="item">Pro</a>
		<a data-value="con" class="item">Con</a>
		<a data-value="finding" class="item">Finding</a>
		<a data-value="discarded" class="item">Discarded</a>
		<a data-value="undecided" class="item">(Unassigned)</a>
	</div>
</div>
{% endif %}
{% if option.claim %}
<div id="claim-nav-pane" class="ui secondary vertical blue menu">
    <h4 class="ui header">
        {% if not category and not theme %}<strong>All claims</strong>
        {% else %}
            Current filters:
            {% if category %}Category ({{ category }}){% endif %}
            {% if theme %}Theme ({{ theme }}){% endif %}
        {% endif %}
        ({{ claims_cnt }})
    </h4>
	<a class="refresh item">Refresh claim list<i class="refresh icon"></i></a>
	{% if claims %}{% for claim in claims %}
	<a class="claim item" data-id="{{ claim.id }}">
		{% if not claim.published %}
			<div class="ui label">Unpublished</div>
		{% endif %}
			<abbr title="{{ claim.updated_at_full }}">{{ claim.updated_at }}</abbr>: {{ claim.excerpt }}
	</a>
	{% endfor %}{% else %}
    <div class="item">
        No claims available for now.
    </div>
	{% endif %}
</div>
{% endif %}