{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
        	"recom/layout",
        ]);
    </script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
{% endblock %}
{% block header %}
	{% include 'header/forum_list_header.html' %}
{% endblock %}
{% block body %}

<div class="ui grid" style="margin: auto; width: 1280px;">

		<div class="twelve wide column">
			<div class="ui action input">
			  	<input id="sampleSize" type="text" placeholder="#Topics...">
			  	<button id="searchRandom" class="ui button">Split</button>
			</div>
			<button class="ui button">
				Merge
			</button>
			<button class="ui tiny button apply-topics" style="float:right; margin:0;">
				Apply
			</button>
		</div>

		<div class="four wide column">
		</div>

		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<div class="header">Topic 0
						<input type="checkbox" checked class="topic-checkbox" style="float: right;">
					</div>
				</div>
				<div class="content">
					<div class="ui label">disease<span style="font-size:30px; padding-left:30px; background:red;">&nbsp;</span></div>
					<div class="ui label">patient</div>
					<div class="ui label">cancer</div>
					<div class="ui label">treatment</div>
					<div class="ui label">doctor</div>
					<div class="ui label">cure</div>
					<div class="ui label">disorder</div>
					<div class="ui label">medication</div>
					<div class="ui label">pain</div>
					<div class="ui label">awareness</div>
				</div>
			</div>
		</div>

		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<div class="header">Topic 1
						<input type="checkbox" checked class="topic-checkbox" style="float: right;">
					</div>
				</div>
				<div class="content">
					<div class="ui label">man_power</div>
					<div class="ui label">consent_government</div>
					<div class="ui label">code_word</div>
					<div class="ui label">states_declaration</div>
					<div class="ui label">racist_racist</div>
					<div class="ui label">station_law</div>
					<div class="ui label">independence_course</div>
					<div class="ui label">nature_nature</div>
					<div class="ui label">racist_code</div>
					<div class="ui label">god_respect</div>
				</div>
			</div>
		</div>

		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<div class="header">Topic 2
						<input type="checkbox" checked class="topic-checkbox" style="float: right;">
					</div>
				</div>
				<div class="content">
					<div class="ui label">god_trust</div>
					<div class="ui label">robbery_kidnapping</div>
					<div class="ui label">icon_max</div>
					<div class="ui label">rapper_conviction</div>
					<div class="ui label">year_september</div>
					<div class="ui label">wingate_rap</div>
					<div class="ui label">retrial_notice</div>
					<div class="ui label">christie_president</div>
					<div class="ui label">wingate_involvement</div>
					<div class="ui label">max_appeal</div>
				</div>
			</div>
		</div>

		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<div class="header">Topic 1</div>
				</div>
				<div class="content">

				</div>
			</div>
		</div>

		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<div class="header">Topic 1</div>
				</div>
				<div class="content">

				</div>
			</div>
		</div>

</div>

<div class="ui grid" style="margin: auto; width: 1280px;">
	
	<div class="four wide column">

		<div id="select-topics" style="margin-bottom: 1em;">
			<div class="ui tiny buttons">
				<button class="ui button check-all">
				  Check All
				</button>
				<button class="ui button uncheck-all">
				  UnCheck All
				</button>
			</div>
			<button class="ui tiny button apply-topics" style="float:right; margin:0;">
				Apply
			</button>
		</div>

		<div class="ui styled fluid accordion">
			{% for topic in topics %}
			<div class="title {% if forloop.first %} active {% endif %}" topic-id="{{ topic.id }}">
				<i class="dropdown icon"></i>
				{{ topic.title }}
				<input type="checkbox" checked class="topic-checkbox" style="float: right;">
			</div>
			<div class="content {% if forloop.first %} active {% endif %}">
				<p class="transition visible" style="display: block !important;">{{ topic.words }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="twelve wide column">

		<div class="ui grid">

		  	<div class="eight wide column">

				<div class="ui grid">
				  	<div class="ten wide column">
						<div class="ui fluid icon input">
						  	<input id="searchTerm" type="text" placeholder="Search...">
						  	<i id="searchMe" class="circular search link icon"></i>
						</div>
					</div>
					<div class="six wide column">
						<div class="ui fluid action input">
						  	<input id="sampleSize" type="text" placeholder="Size...">
						  	<button id="searchRandom" class="ui button">Sample</button>
						</div>
					</div>
				</div>
				<div class="ui top attached segment">
					<p><span id="numDocFound">0</span>/<span id="numDocTotal">0</span> petitions returned</p>
				</div>
				<div class="ui attached segment">
				  	<div id="docList" class="ui list" style="height: 500px; overflow: scroll;">
						{% for doc in docs %}
						<div class="item" doc-idx="{{ doc.idx }}" style="margin: 0.5em 0;">
								<a class="header" doc-idx="{{ doc.idx }}" topic-ids="{{ doc.topic_ids_str }}">{{ doc.title }}</a>
							</div>
						{% endfor %}
					</div>
				</div>
		  	</div>
			<div class="eight wide column doc-container" id="docDetail">
				<div class="ui card">
					<div class="content">
					<div class="header _title" style="text-align: center;">Lorem Ipsum</div>
					<div class="meta _created" style="text-align: center;">1970-01-01</div>
					<div class="description _body">
						Lorem ipsum dolor sit amet, et sed iudico mediocrem, per etiam congue quando in, ex tale ullum delicatissimi eam. Munere lobortis ut mel. An quo dico nulla populo. At sea fugit vivendum intellegam, eos accusam insolens ut, vel vidit quaestio reformidans te.
					</div>
					</div>
					<div class="extra content">
						Issues: <span class="_issue_names">{{ issue_names }}</span>
					</div>
					<div class="extra content">
						<div>Topics: <span class="_topic_names">{{ topic_names }}</span></div>
						<div>Do these topics accurately capture the petition content?
							<select class="q-topic" category="topic_accuracy">
								<option value="-1" disabled selected>Score</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="extra content">
						<button class="_sign_btn fluid ui green button">Sign This Petition</button>
						<button class="_unsign_btn fluid ui teal button">You Already Signed this Petition, Click Again to Unsign</button>
					</div>
					<div class="extra content">
					    <span class="left floated">
					     	<span class="_signature_count">{{ signature_count }} 0</span> Signed
					    </span>
					    <span class="right floated">
					      	<span class="_signature_threshold">{{ signature_threshold }} 5000</span> Goals
					    </span>
					</div>
					<div class="ui green bottom attached progress">
						<div class="bar"></div>
					</div>
				</div>
				<div id="feel-lucky" class="ui primary button" style="margin: 1em 0; width: 100%;">Show Simialr Petitions (based on Topics)</div>
				<div>
					<form>
						<input class="strict-mode" type="radio" name="gender" value="3"> exactly the same topics and order</br>
						<input class="strict-mode" type="radio" name="gender" value="2" checked> exactly the same topics </br>
						<input class="strict-mode" type="radio" name="gender" value="1"> commonly shared topics  
					</form> 
				</div>
			</div>
		</div>

		<h4 class="ui horizontal divider header">
			<i class="pointing down icon"></i>
			Most Similar Petitions
		</h4>

		<div class="ui grid">
			<div class="eight wide column" id="recom_doc_list">
				<table class="ui compact table">
					<thead>
						<tr>
							<th colspan="3">Will return ranked similar petitions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ranking</td>
							<td>Petition title</td>
							<td>Similarity Score</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="eight wide column doc-container" id="recomDocDetail">
				<div class="ui card">
					<div class="content">
					<div class="header _title" style="text-align: center;">Lorem Ipsum</div>
					<div class="meta _created" style="text-align: center;">1970-01-01</div>
					<div class="description _body">
						Lorem ipsum dolor sit amet, et sed iudico mediocrem, per etiam congue quando in, ex tale ullum delicatissimi eam. Munere lobortis ut mel. An quo dico nulla populo. At sea fugit vivendum intellegam, eos accusam insolens ut, vel vidit quaestio reformidans te.
					</div>
					</div>
					<div class="extra content">
						Issues: <span class="_issue_names">{{ issue_names }}</span>
					</div>
					<div class="extra content">
						Topics: <span class="_topic_names">{{ topic_names }}</span>
						<div>Do these topics accurately capture the petition content?
							<select class="q-topic" category="topic_accuracy">
								<option value="-1" disabled selected>Score</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="extra content">
						<button class="_sign_btn fluid ui green button">Sign This Petition</button>
						<button class="_unsign_btn fluid ui teal button">You Already Signed this Petition, Click Again to Unsign</button>
					</div>
					<div class="extra content">
						<div>Is this petition relevant to the given one?
							<select class="q-similarity" category="recom_relevancy">
								<option value="-1" disabled selected>Score</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
					<div class="extra content">
					    <span class="left floated">
					     	<span class="_signature_count">{{ signature_count }} 0</span> Signed
					    </span>
					    <span class="right floated">
					      	<span class="_signature_threshold">{{ signature_threshold }} 5000</span> Goals
					    </span>
					</div>
					<div class="ui green bottom attached progress">
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<!-- {% include 'qa/qa-wrapper.html' %}

{% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %} -->

{% endblock %}

