{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
        	"recom/layout",
        ]);
    </script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}

<div class="ui grid" style="margin: auto; width: 1200px;">
	
	<div class="four wide column">
		<div class="ui styled fluid accordion">
			{% for topic in topics %}
			<div class="title {% if forloop.first %} active {% endif %}">
				<i class="dropdown icon"></i>
				{{ topic.title }}
			</div>
			<div class="content {% if forloop.first %} active {% endif %}">
				<p class="transition visible" style="display: block !important;">{{ topic.words }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="twelve wide column">

		<div class="ui grid">
		  	<div class="eight wide column">
				<div class="ui fluid icon input">
				  <input id="searchTerm" type="text" placeholder="Search...">
				  <i id="searchMe" class="circular search link icon"></i>
				</div>
				<div class="ui top attached segment">
					<p><span id="numDocFound">0</span>/<span id="numDocTotal">0</span> petitions returned</p>
				</div>
				<div class="ui attached segment">
				  	<div id="docList" class="ui list" style="height: 400px; overflow: scroll;">
						{% for doc in docs %}
							<div class="item" style="margin: 0.5em 0;">
								<a class="header" doc-idx="{{ doc.idx }}">{{ doc.title }}</a>
							</div>
						{% endfor %}
					</div>
				</div>
		  	</div>
			<div class="eight wide column" id="docDetail">
				<div class="ui card">
					<div class="content">
					<div class="header _title" style="text-align: center;">Lorem Ipsum</div>
					<div class="meta _created" style="text-align: center;">1970-01-01</div>
					<div class="description _body">
						Lorem ipsum dolor sit amet, et sed iudico mediocrem, per etiam congue quando in, ex tale ullum delicatissimi eam. Munere lobortis ut mel. An quo dico nulla populo. At sea fugit vivendum intellegam, eos accusam insolens ut, vel vidit quaestio reformidans te.
					</div>
					</div>
					<div class="extra content">
						Issues: <span class="_issue_names">{{ issue_names }}</span>
					</div>
					<div class="extra content">
						Topics: <span class="_topic_names">{{ topic_names }}</span>
					</div>
					<div class="extra content">
					    <span class="left floated">
					     	<span class="_signature_count">{{ signature_count }} 0</span> Signed
					    </span>
					    <span class="right floated">
					      	<span class="_signature_threshold">{{ signature_threshold }} 5000</span> Goals
					    </span>
					</div>
					<div class="ui green bottom attached progress">
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="feel-lucky" class="ui button" style="margin: 1em 0; width: 100%;">I'm Feeling Lucky</div>

		<div class="ui grid">
			<div class="eight wide column" id="recom_doc_list">
				<table class="ui compact table">
					<thead>
						<tr>
							<th colspan="3">Will return ranked similar petitions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ranking</td>
							<td>Petition title</td>
							<td>Similarity Score</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="eight wide column" id="recomDocDetail">
				<div class="ui card">
					<div class="content">
					<div class="header _title" style="text-align: center;">Lorem Ipsum</div>
					<div class="meta _created" style="text-align: center;">1970-01-01</div>
					<div class="description _body">
						Lorem ipsum dolor sit amet, et sed iudico mediocrem, per etiam congue quando in, ex tale ullum delicatissimi eam. Munere lobortis ut mel. An quo dico nulla populo. At sea fugit vivendum intellegam, eos accusam insolens ut, vel vidit quaestio reformidans te.
					</div>
					</div>
					<div class="extra content">
						Issues: <span class="_issue_names">{{ issue_names }}</span>
					</div>
					<div class="extra content">
						Topics: <span class="_topic_names">{{ topic_names }}</span>
					</div>
					<div class="extra content">
					    <span class="left floated">
					     	<span class="_signature_count">{{ signature_count }} 0</span> Signed
					    </span>
					    <span class="right floated">
					      	<span class="_signature_threshold">{{ signature_threshold }} 5000</span> Goals
					    </span>
					</div>
					<div class="ui green bottom attached progress">
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<!-- {% include 'qa/qa-wrapper.html' %}

{% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %} -->

{% endblock %}

