<div class="ui segments">
	<div class="ui top attached secondary merging segment">
		<div class="ui secondary menu">
			<a id="claim-label-merge" class="item merge control" title="Suggest that the flagged claims can be merged.">
				Suggest a merging (<span class="merge count"></span>)
			</a>
			<a id="claim-perform-merge" class="item merge control" title="Compose a new claim, merging the flagged ones.">
				Perform a merging (<span class="merge count"></span>)
			</a>
			<a id="claim-clear-selection" class="item merge control" title="De-select all claims.">
				De-select all (<span class="merge count"></span>)
			</a>
		</div>
	</div>

	{% if claims %}{% for claim in claims %}
	{% if claim.is_merged %}
	<section class="ui attached claim segment accordion" data-id="{{ claim.id }}">
		<div class="title"><i class="dropdown icon"></i>This claim has been merged -- click to show.</div>
		<div class="content">
	{% else %}
	<section class="ui attached segment claim {% if claim.stmt_order != None %}stmt{% endif %} {% if not claim.published %}private{% endif %}" data-id="{{ claim.id }}">
	{% endif %}
		<a class="ui right teal corner merge label" title="Flagged as to be merged -- click to remove flag" style="display:none">
			<i class="plus square outline icon"></i>
		</a>
		<div class="content">
		{% if claim.collective %}
			<a class="ui teal right ribbon label">Collective</a>
		{% endif %}
			<div class="claim-content">
				{{ claim.content|safe }}
			</div>
			<div class="claim-metainfo">
				<a class="user {{ claim.author_role }}" data-id="{{ claim.author_id }}">{{ claim.author_name }}</a> <abbr title="{{ claim.updated_at_full }}">{{ claim.updated_at }}</abbr>
			{% if claim.theme %}
				<div class="ui label">Theme: {{ claim.theme }}</div>
			{% endif %}
			{% if claim.published %}
				{% if claim.category == 'pro' %}
				<a class="ui teal category label">Pro</a>
				{% elif claim.category == 'con' %}
				<a class="ui red category label">Con</a>
				{% elif claim.category == 'finding' %}
				<a class="ui blue category label">Key Finding</a>
				{% elif claim.category == 'discarded' %}
				<a class="ui label">Discarded</a>
				{% endif %}
				{% if claim.is_merged %}
				<a class="ui merged label" data-ids="{{ claim.is_merged }}" data-action="view-newer" title="This claim has been merged -- click to view newer version(s).">Is merged</a>
				{% endif %}
				{% if claim.merge_of %}
				<a class="ui merged green label" data-ids="{{ claim.merge_of }}" data-action="view-older" title="This claim was created by merging several claims -- click to view older version(s).">Merged version</a>
				{% endif %}
				<div class="reword-flag-tags" data-id="{{ claim.version_id }}"></div>
				<div class="merge-flag-tags" data-id="{{ claim.id }}"></div>
				<div class="theme-tags" data-id="{{ claim.id }}"></div>
			{% endif %}
			</div>
		</div>
		<div class="ui red small secondary claim menu" data-id="{{ claim.id }}">
		{% if claim.published %}
			<a class="item claim-vote-btn {{ phase.prioritize_btn }}" data-action="prioritize"><i class="thumbs outline up icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ phase.vote_btn }}" data-action="pro"><i class="plus icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ phase.vote_btn }}" data-action="con"><i class="minus icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ phase.vote_btn }}" data-action="finding"><i class="flag outline icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ phase.vote_btn }}" data-action="discarded"><i class="trash outline icon"></i><span></span></a>
			<div class="right menu">
				{% if not claim.is_merged %}
				<div class="ui dropdown simple theme item {{ phase.theming_menu }}">
					Theme
					<i class="dropdown icon"></i>
					<div class="ui menu">
						{% if themes %}{% for theme in themes %}
						<a class="item theme-assign-btn" data-id="{{ theme.id }}">{{ theme.name }}</a>
						{% endfor %}{% endif %}
						<a class="item theme-suggest-btn">Suggest a new theme ...</a>
					</div>
				</div>
				<div class="ui dropdown simple flag item {{ phase.improve_menu }}">
					Flag
					<i class="dropdown icon"></i>
					<div class="menu" data-id="{{ claim.version_id }}">
						<a class="item claim-flag-reword-btn">Flag as "needs rewording"</a>
						<a class="item claim-flag-merge-btn">Flag as "needs merging" / Merge claims</a>
					</div>
				</div>
				<div class="item claim-addstmt-handle {{ phase.addstmt_btn }}">Drag to statement</div>
				{% endif %}
				<a class="item claim-gotosrc-btn" title="Reveal in Document"><i class="unhide icon"></i></a>
				<a class="item claim-fullscreen-btn" title="Show in full screen"><i class="maximize icon"></i></a>
			</div>
		{% else %}
			<div class="red active item" title="This claim is unpublished and only visible to you">Private</div>
			<a class="item claim-edit-btn"><i class="edit icon"></i>Edit</a>
			<a class="item claim-delete-btn"><i class="delete icon"></i>Delete</a>
			<div class="right menu">
				<a class="item claim-gotosrc-btn" title="Reveal in Document"><i class="unhide icon"></i></a>
				<a class="item claim-fullscreen-btn" title="Show in full screen"><i class="maximize icon"></i></a>
			</div>
		{% endif %}
		</div>
	</section>
	{% if claim.is_merged %}</section>{% endif %}
	{% endfor %}{% else %}
	<div class="ui orange inverted segment">
		No claims available for now.
	</div>
	{% endif %}

</div>
