<div class="ui indicating finding stmt progress">
	<div class="title">Key Findings</div>
	<div class="bar"></div>
	<div class="label"></div>
</div>
<ol class="ui list" data-list-type="finding">
	{% for slot_info in categories.finding %}
		<li class="item">
			<div class="ui stacked segment phase3 slot" data-id="{{ slot_info.id }}">
				<i class="reorder-handle vertical resize icon"></i>
				<div class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
					{% if slot_info.slot_title %}{{ slot_info.slot_title }}{% else %}(Click to name this slot){% endif %}
				</div>
				{% for src_claim in slot_info.claims %}
				<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}">
					{% if src_claim.theme %}<div class="ui label">Theme: {{ src_claim.theme }}</div>{% endif %}
					{{ src_claim.content }}
					<div class="ui destmt circular icon red button"><i class="trash icon"></i></div>
				</div>
				{% endfor %}
			</div>
		</li>
	{% endfor %}
	<div class="droppable-edge"></div>
</ol>
<div class="ui indicating pro stmt progress">
	<div class="title">Pro Statements</div>
	<div class="bar"></div>
	<div class="label"></div>
</div>
<ol class="ui list" data-list-type="pro">
	{% for slot_info in categories.pro %}
		<li class="item">
			<div class="ui stacked segment phase3 slot" data-id="{{ slot_info.id }}">
				<i class="reorder-handle vertical resize icon"></i>
				<div class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
					{% if slot_info.slot_title %}{{ slot_info.slot_title }}{% else %}(Click to name this slot){% endif %}
				</div>
				{% for src_claim in slot_info.claims %}
					<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}">
						{% if src_claim.theme %}<div class="ui label">Theme: {{ src_claim.theme }}</div>{% endif %}
						{{ src_claim.content }}
						<div class="ui destmt circular icon red button"><i class="trash icon"></i></div>
					</div>
				{% endfor %}
			</div>
		</li>
	{% endfor %}
	<div class="droppable-edge"></div>
</ol>
<div class="ui indicating con stmt progress">
	<div class="title">Con Statements</div>
	<div class="bar"></div>
	<div class="label"></div>
</div>
<ol class="ui list" data-list-type="con">
	{% for slot_info in categories.con %}
		<li class="item">
			<div class="ui stacked segment phase3 slot" data-id="{{ slot_info.id }}">
				<i class="reorder-handle vertical resize icon"></i>
				<div class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
					{% if slot_info.slot_title %}{{ slot_info.slot_title }}{% else %}(Click to name this slot){% endif %}
				</div>
				{% for src_claim in slot_info.claims %}
					<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}">
						{% if src_claim.theme %}<div class="ui label">Theme: {{ src_claim.theme }}</div>{% endif %}
						{{ src_claim.content }}
						<div class="ui destmt circular icon red button"><i class="trash icon"></i></div>
					</div>
				{% endfor %}
			</div>
		</li>
	{% endfor %}
	<div class="droppable-edge"></div>
</ol>

