{% for slot_info in categories %}
	<div class="item phase3 slot" data-id="{{ slot_info.id }}" style="position:relative">
		<div class="ui stacked top attached segment">
			<div>
				<h3 class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
                    {% if slot_info.slot_title %}Question: {{ slot_info.slot_title }}{% else %} (No title for this slot){% endif %}
				</h3>
			</div>
            {% if slot_info.claims %}
			{% for src_claim in slot_info.claims %}
				<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}">
					{% if src_claim.theme %}<div class="ui label">{{ src_claim.theme }}</div>{% endif %}
                    <div>{{ src_claim.content | safe }}</div>
					<div class="ui destmt circular icon red button"><i class="remove icon"></i></div>
				</div>
			{% endfor %}{% else %}
                <div class="ui vertical segment">(Empty)</div>
            {% endif %}
		</div>
        <div class="ui fluid two item attached menu" style="margin:0 -1px!important;width:calc(100% + 2px)!important">
            <a class="item slot-discussion-btn">Discuss</a>
            <a class="item slot-subquestion-btn">Add a Subquestion</a>
        </div>
		<div class="slot-discussion ui attached segment" data-id="{{ slot_info.id }}" style="display:none;min-height:150px;"></div>
        <div class="slot-subquestion ui bottom attached segment" data-id="{{ slot_info.id }}" style="display:none">
            <div class="ui form">
                <div class="field">
                    <label>Suggest a subquestion</label>
                    <input type="text">
                </div>
                <button class="ui primary button">Submit</button>
                <button class="ui cancel button">Cancel</button>
            </div>
        </div>
	</div>
{% endfor %}
<div class="droppable-edge"></div>