{% for slot_info in categories %}
	<div class="item phase3 slot" data-id="{{ slot_info.id }}" style="position:relative">
		<div class="ui stacked segment">
			<div style="display:flex">
				<span class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
                    {% if slot_info.slot_title %}<b>Question: </b>{{ slot_info.slot_title }}{% else %} (Click to name this slot){% endif %}
				</span>
			</div>
            {% if slot_info.claims %}
			{% for src_claim in slot_info.claims %}
				<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}">
					{{ src_claim.content | safe }}
					<div class="ui destmt circular icon red button"><i class="remove icon"></i></div>
				</div>
			{% endfor %}{% else %}
                <div class="ui vertical segment">(Empty)</div>
            {% endif %}
		</div>
		<div class = "slot-workspace" data-id="{{ slot_info.id }}">
		</div>
	</div>
{% endfor %}
<div class="droppable-edge"></div>