{% extends 'base.html' %}
{% load compressed %}
{% block extralib %}
	<script>
		require([
			'phase3/claim'
		]);
	</script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}

<div class="ui claim grid">
	<div id="claim-container" class="six wide claim column" style="margin-bottom: 3em">
		<div style="position:relative">
			<div class="ui attached info message">
				<div class="ui instructions accordion">
					<div class="ui active title"><i class="dropdown icon"></i>Current phase: Claim categorization</div>
					<div class="active content">
						Before we proceed with claim improvement, let's category the claims we just composed. Available categories are Pro, Con and Key Finding. If you don't think a claim should proceed to the next round, you can also vote a Discard to it. Facilitators will perform the final categorization for each claim.
					</div>
				</div>
			</div>
			<div id="claim-filter-pane" class="ui attached menu"></div>
			<div id="claim-pane-overview">
			</div>
		</div>
	</div>
	<div id="draft-stmt-container" class="ten wide column">
		<div id="draft-stmt"></div>
	</div>
</div>
{% endblock %}