{% extends 'base.html' %}
{% load compressed %}
{% block extralib %}
	<script>
		require([
			'phase3/claim'
		]);
	</script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}

<div class="ui claim grid">
	<div id="claim-container" class="eight wide claim column" style="margin-bottom: 3em">
		<div style="position:relative">
			<div id="claim-pane-overview">
				<div class="ui active centered inline loader"></div>
			</div>
		</div>
	</div>

	<div id="draft-stmt-container" class="eight wide column">
		<div id="draft-stmt"></div>
	</div>
    <div id="slot-assignment-options" class="ui modal">
        <div class="header">
            Trim and Tag this Nugget
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Trim this Nugget if you think only part of it is relevant to this Question.</label>
                    <textarea id="claim-trim-field" rows="4"></textarea>
                </div>
                <div class="field">
                    <label>Tag this Nugget (optional): What sub-question does it answer? What topic is it about?</label>
                    <select id="nugget-theme-selector" class="ui fluid search dropdown">
                    </select>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black cancel button">
                Cancel
            </div>
            <div class="ui blue approve button">
                Confirm
            </div>
        </div>
    </div>
</div>
{% include 'qa/qa-wrapper.html' %}
{% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %}
{% endblock %}