{% for slot_info in my_statement %}
	<li class="item phase3 slot" data-id="{{ slot_info.id }}">
		<div class="ui stacked segment">
			<div class="slot-title{% if not slot_info.slot_title %} empty{% endif %}">
				{% if slot_info.slot_title %}{{ slot_info.slot_title }}{% else %}Slot {{ forloop.counter }} (Click to name this slot){% endif %}
			</div>
			{% for src_claim in slot_info.claims %}
				<div class="src_claim ui vertical segment" data-id="{{ src_claim.id }}"><div class="ui label">C{{ src_claim.id }}</div>
					{{ src_claim.content | safe }}
					<div class="ui destmt circular icon red button"><i class="trash icon"></i></div>
				</div>
			{% endfor %}
		</div>
	</li>
{% endfor %}
<div class="droppable-edge"></div>