

<div class="ui raised pink segment">
	<div class="ui top attached tabular menu">
		<div class="ui text menu activity-filter" style="margin:0;">
			<div class="header item">Activities</div>
			<a class="active item statement-candidate">
				Statements
			</a>
			<a class="active item statement-comment">
				Comments
			</a>
			<a class="item all-activity">
				All
			</a>
		</div>
	</div>
	{% if entries %}
	<div class="ui feed" style="margin-top: 1em">
	{% for entry in entries %}
		<div class="event" data-type="{{ entry.entry_type }}" data-id="{{ entry.id }}">
			<div class="user-initial" style="min-width: 4em;">
				<img src="{{ STATIC_URL }}/static/pictures/{{ entry.author_id }}.png" alt="Image not found" onerror="this.onerror=null;this.src='{{ STATIC_URL }}/static/pictures/default-avatar.png';" style="width:40px;"/>
			</div>
			<div class="activity-content content">
			{% if entry.is_deleted %}
				<div class="summary">
					<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a><div class="date">updated <abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div> [deleted]
				</div>
			{% elif entry.parent_name %}
				<div class="summary">
					<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> replied to <a class="user">{{ entry.parent_name }}</a>
					<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
				</div>
				<div class="extra text">
					{{ entry.content }}
				</div>
				<div class="ui red secondary post small menu">
					<div class="right menu">
						<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
						<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
					</div>
				</div>
			{% elif entry.entry_type == 'question' %}
				<div class="summary">
					<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> raised a question.
					<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
				</div>
				<div class="extra text">
					{{ entry.content }}
				</div>
				<div class="ui red secondary post fitted menu">
					<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
					<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
				</div>
			{% elif entry.entry_type == 'comment' %}
				<div class="summary">
				{% if entry.collective %}
					The panel reached a conclusion on this slot:
				{% else %}
					<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> commented:
				{% endif %}
					<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
				</div>
				<div class="extra text">
					{{ entry.content }}
				</div>
				<div class="ui red secondary post small menu">
					<div class="right menu">
						<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
						<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
					</div>
				</div>
			{% elif entry.entry_type == 'claim version' %}
				<div class="summary">
					{% if entry.collective %}
						The panel generated a statement <div class="ui label">S{{ entry.version_id }}</div> (written by <a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a>):
					{% else %}
						<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> suggested a statement <div class="ui label">S{{ entry.version_id }}</div>:
					{% endif %}
					<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
					<div class="src-claim-labels">
						{% for claim_id in entry.claim_ids %}
							<span class="ui mini label src-claim-label" claim-id="{{ claim_id }}">N{{ claim_id }}<i class="delete icon"></i></a></span>
						{% endfor %}
					</div>
				</div>

				<div class="edited">
					<div class="extra improved text" style="max-width: 2000px;">
						<div class="content" style="font-size: 1rem!important;">{{ entry.content | safe }}</div>
					</div>

<!-- 					{% if not entry.collective %}
					<div class="ui red secondary improve small menu" data-id="{{ entry.version_id }}">
						<div class="right menu">
							<a class="item statement-comment-btn" data-id="{{ entry.version_id }}"><i class="wechat icon"></i>Comments({{ entry.num_comments }})</a>
							
							<a class="item feed-edit-claim" data-action="like"><i class="edit icon"></i>Edit<span></span></a>
							<a class="item statement-history-btn"><i class="history icon"></i>History<span></span></a>
							<a class="item feed-like-claim-version" data-action="like"><i class="thumbs outline up icon"></i>Like<span></span></a>

							{% if entry.is_adopted %}
								<a class="item feed-adopt-claim-version" data-action="deadopt"><span>Adopted</span></a>
							{% else %}
								<a class="item feed-adopt-claim-version" data-action="adopt"><span>Adopt</span></a>
							{% endif %}
						</div>
					</div>
					{% endif %} -->
				</div>
				
<!-- 				<div class="editing" style="display:none;">
					<div class="content" style="font-size: 1rem!important;">
						<textarea style="width:100%;">{{ entry.content | safe }}</textarea>
					</div>

					{% if not entry.collective %}
					<div class="ui red secondary improve small menu" data-id="{{ entry.version_id }}">
						<div class="right menu">
							<a class="item feed-edit-claim-save"><i class="save icon"></i>Save</a>
							<a class="item feed-edit-claim-cancel"><i class="remove icon"></i>Cancel</a>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="statement-comments" style="display:none;">
					<div class="ui action input" style="width:100%; margin: 1rem 0;">
						<input type="text" placeholder="Make a comment...">
						<button class="ui teal button statement-comment-post" statement-id="{{ entry.version_id }}">
							<i class="send outline icon"></i>Comment
						</button>
					</div>
					<div class="content statement-comment-list" statement-id="{{ entry.version_id }}"></div>
				</div> -->

			{% elif entry.entry_type == 'slotassignment' %}
				<div class="summary">
				{% if entry.action == 'add' %}
					<a class="user {{ entry.author_role }}" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> added claim <div class="ui label">C{{ entry.claim_id }}</div> into this slot.
					<div class="ui message">{{ entry.claim_text }}</div>
				{% else %}
					<a class="user {{ entry.author_role }}" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> removed claim <div class="ui label">C{{ entry.claim_id }}</div> from this slot.
					<div class="ui message">{{ entry.claim_text }}</div>
				{% endif %}
					<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
				</div>
			{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<div class="ui info message">No activities to show</div>
	{% endif %}
</div>