<div class="ui secondary pointing fluid two item vertically fitted menu activity-filter">
    <a class="item" data-event-type="comment|question">Comments &amp; Questions</a>
    <a class="item" data-event-type="slotassignment">Nugget Activities</a>
</div>
<form class="ui form activity-comment-form" style="margin-top:1em;">
    <div class="field">
        <textarea rows="2" placeholder="Type your comment or question"></textarea>
    </div>
    <div class="two fields">
        <div class="field">
            <div class="ui question-for-experts checkbox item">
                <input type="checkbox" name="question">
                <label>This is a question for the Experts</label>
            </div>
        </div>
        <div class="field">
            <div class="ui collective checkbox facilitator-only" style="display:none">
                <label>Collective</label>
                <input type="checkbox" name="collective">
            </div>
        </div>
    </div>
    <div class="ui primary submit button"><i class="send outline icon"></i>Post</div>
</form>
<form class="ui form activity-reply-form" style="display:none">
    <div class="field">
        <label><span></span></label>
        <textarea rows="2"></textarea>
    </div>
    <div class="ui primary submit button"><i class="send outline icon"></i>Post</div>
</form>
<form class="ui form slot-subquestion-form" style="display:none">
    <div class="field">
        <label>Raise a subquestion not covered by existing nuggets</label>
        <input type="text">
    </div>
    <button class="ui primary button">Submit</button>
    <button class="ui cancel button">Cancel</button>
</form>
{% if entries %}
<div class="ui feed" style="margin-top: 1em">
{% for entry in entries %}
    <div class="event" data-type="{{ entry.entry_type }}" data-id="{{ entry.id }}">
        <div class="user-initial" style="min-width: 4em;">
            <img src="{{ STATIC_URL }}/static/pictures/default-avatar.png" style="width:40px;"/>
        </div>
        <div class="activity-content content">
            {% if entry.is_deleted %}
                <div class="summary">
                    <a class="user {{ entry.author_role }}"
                       data-id="{{ entry.author_id }}">{{ entry.author_name }}</a>
                    <div class="date">updated <abbr
                            title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
                    [deleted]
                </div>
            {% elif entry.parent_name %}
                <div class="summary">
                    <a class="user {{ entry.author_role }}"
                       data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> replied to <a
                        class="user">{{ entry.parent_name }}</a>
                    <div class="date"><abbr
                            title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
                </div>
                <div class="extra text">
                    {{ entry.content }}
                </div>
                <div class="ui red secondary post small menu">
                    <div class="right menu">
                        <a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
                        <a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
                    </div>
                </div>
            {% elif entry.entry_type == 'question' %}
                <div class="summary">
                    <a class="user {{ entry.author_role }}"
                       data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> raised a question for the Experts.
                    <div class="date"><abbr
                            title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
                </div>
                <div class="extra text">
                    {{ entry.content }}
                </div>
                <div class="ui red secondary post fitted menu">
                    <div class="right menu">
                        <a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
                        <a class="item feed-delete-entry" data-id="{{ entry.id }}"
                           style="display:none">Delete</a>
                    </div>
                </div>
            {% elif entry.entry_type == 'comment' %}
                <div class="summary">
                    {% if entry.collective %}
                        The panel reached a conclusion on this slot:
                    {% else %}
                        <a class="user {{ entry.author_role }}"
                           data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> commented:
                    {% endif %}
                    <div class="date"><abbr
                            title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
                </div>
                <div class="extra text">
                    {{ entry.content }}
                </div>
                {% if not entry.collective %}
                <div class="ui red secondary post small menu">
                    <div class="right menu">
                        <a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
                        <a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
                    </div>
                </div>
                {% endif %}
            {% elif entry.entry_type == 'slotassignment' %}
                <div class="summary">
                    {% if entry.action == 'add' %}
                        <a class="user {{ entry.author_role }}"
                           data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> added nugget
                        <div class="ui label">N{{ entry.claim_id }}</div> into this slot.
                    {% else %}
                        <a class="user {{ entry.author_role }}"
                           data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> removed nugget
                        <div class="ui label">N{{ entry.claim_id }}</div> from this slot.
                    {% endif %}
                    <div class="date"><abbr
                            title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<div class="ui info message">No activities to show</div>
{% endif %}
