<div class="feed-forms">
	<form class="ui form reword" style="display:none">
		<div class="ui info message">
			<div class="header">
			When you reword a claim, please:
			</div>
			<ul class="list">
				<li>Here goes claim-rewording instructions.</li>
				<li>Itemized.</li>
				<li>Submitting a rewording doesn't mean accepted!</li>
				<li>If you are doing a collective one, be sure to take care of suggestions and conclusions in previous discussions!</li>
			</ul>
		</div>
		<div class="field">
			<label><span>Reword this claim</span> (Ctrl + Enter to publish)</label>
			<textarea class="claim reword editor" rows="6"></textarea>
			<input type="hidden" name="collective">
		</div>
		<div class="ui primary submit button"><i class="send outline icon"></i>Submit</div>
		<div class="ui reset button">Cancel</div>
		<div class="ui divider"></div>
	</form>
	<form class="ui form comment">
		<div class="field">
			<label><span>Add a comment</span> (Ctrl + Enter to publish)</label>
			<textarea rows="2"></textarea>
		</div>
		<div class="ui primary submit button"><i class="send outline icon"></i>Publish</div>
		<div class="ui reset button"><i class="refresh icon"></i>Reset</div>
		<div class="ui checkbox facilitator-only" style="display:none">
			<label>Collective</label>
			<input type="checkbox" name="collective">
		</div>
	</form>
</div>
<h4 class="ui horizontal header divider">
	Activities (oldest first)
</h4>
<div class="ui five fluid basic buttons filter" style="margin-bottom: 1em;">
	<div class="ui button" data-filter="all">All</div>
	<div class="ui button" data-filter="general">General</div>
	<div class="ui button" data-filter="categorize">Categorizing</div>
	<div class="ui button" data-filter="theme">Theming</div>
	<div class="ui button" data-filter="improve">Improving</div>
</div>
{% if entries %}
<div class="ui feed" style="margin-top: 1em">
{% for entry in entries %}
	<div class="event" data-type="{{ entry.entry_type }}">
		<div class="user-initial">
			<div class="{{ entry.author_role }}{% if entry.collective %} collective{% endif %}">
			{% if entry.author_role == 'facilitator' %}F
			{% elif entry.collective %}C
			{% elif entry.author_role == 'admin' %}A
			{% else %}{{ entry.author_initial }}
			{% endif %}
			</div>
		</div>
		<div class="activity-content content">
		{% if entry.is_deleted %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a><div class="date">updated <abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div> [deleted]
			</div>
		{% elif entry.parent_name %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> replied to <a class="user">{{ entry.parent_name }}</a>
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="ui red secondary fitted menu">
				<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'question' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> raised a question.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="ui red secondary fitted menu">
				<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'comment' %}
			<div class="summary">
			{% if entry.collective %}
				The panel reached a conclusion on this claim:
			{% else %}
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> commented:
			{% endif %}
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="ui red secondary fitted menu">
				<a class="item feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="item feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'categorize' %}
			<div class="summary">
			{% if entry.collective %}
				The category of this claim changed to <strong>{{ entry.vote_type_full }}</strong>.
			{% else %}
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.user_name }}</a> categorized this claim as <strong>{{ entry.vote_type_full }}</strong>.
			{% endif %}
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>
			<div class="ui red secondary fitted menu">
				<a class="item feed-reply-event" data-id="{{ entry.id }}">Reply</a>
			</div>
		{% elif entry.entry_type == 'themeassignment' %}
			<div class="summary">
			{% if entry.collective %}
				The theme of this claim changed to <strong>{{ entry.theme_name }}</strong>.
			{% else %}
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.user_name }}</a> assigned a theme to this claim: <strong>{{ entry.theme_name }}</strong>.
			{% endif %}
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>
			<div class="ui red secondary fitted menu">
				<a class="item feed-reply-event" data-id="{{ entry.id }}">Reply</a>
			</div>
		{% elif entry.entry_type == 'improve' and entry.vote_type == 'reword' %}
			<div class="summary">
			{% if entry.collective %}
				The panel agree that this claim should be reworded.
			{% else %}
				<a class="user {{ entry.author_role }}" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> suggested that this claim can be reworded.
			{% endif %}
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>{% if entry.reason %}
			<div class="extra text">
				Reason: {{ entry.reason }}
			</div>{% endif %}
			{% if entry.collective %}
			<div class="ui red secondary fitted menu">
				<a class="item feed-reword-claim">Reword the claim</a>
			</div>
			{% endif %}
		{% elif entry.entry_type == 'improve' and entry.vote_type == 'merge' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> suggested that this claim can be merged. Please click on the "Needs merging" label to see details.
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>{% if entry.reason %}
			<div class="extra text">
				Reason: {{ entry.content }}
			</div>{% endif %}
		{% elif entry.entry_type == 'claim version' %}
			<div class="summary">
			{% if entry.collective %}
				The panel generated an improved version of this claim (written by <a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a>):
			{% else %}
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a>'s version of this claim:
			{% endif %}
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra improved text">
				{{ entry.content }}
			</div>
			{% if not entry.collective %}
			<div class="ui red improve secondary fitted menu" data-id="{{ entry.version_id }}">
				<a class="item feed-like-claim-version" data-action="like"><i class="thumbs outline up icon"></i>Like<span></span></a>
				<a class="item feed-diff-claim-version" data-action="diff">Show difference</a>
			</div>
			{% endif %}
		{% elif entry.entry_type == 'claim old version' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.new_claim_author_id }}">{{ entry.new_claim_author_name }}</a> has created <a class="merged label" data-ids="{{ entry.is_merged }}">a new claim</a>, which merged this claim and <a class="merged label" data-ids="{{ entry.other_old_claims }}">these claims</a>.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
		{% elif entry.entry_type == 'claim new version' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> created this claim by merging <a class="merged label" data-ids="{{ entry.merge_of }}">these claims</a>.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
		{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="ui info message">No activities to show</div>
{% endif %}
