<div class="feed-forms">
	<form class="ui form reword" style="display:none">
		<div class="ui info message">
			<div class="header">
			When you reword a claim, please:
			</div>
			<ul class="list">
				<li>Here goes claim-rewording instructions.</li>
				<li>Itemized.</li>
				<li>Submitting a rewording doesn't mean accepted!</li>
			</ul>
		</div>
		<div class="field">
			<label><span>Reword this claim</span> (Ctrl + Enter to publish)</label>
			<textarea class="claim reword editor" rows="6"></textarea>
		</div>
		<div class="ui primary submit button"><i class="send outline icon"></i>Submit</div>
		<div class="ui reset button">Cancel</div>
		<div class="ui divider"></div>
	</form>
	<form class="ui form comment">
		<div class="field">
			<label><span>Add a comment</span> (Ctrl + Enter to publish)</label>
			<textarea rows="2"></textarea>
		</div>
		<div class="ui primary submit button"><i class="send outline icon"></i>Publish</div>
		<div class="ui reset button"><i class="refresh icon"></i>Reset</div>
	</form>
</div>
{% if entries %}
<h4 class="ui horizontal header divider">
	Activities (latest first)
</h4>
<div class="ui feed">
{% for entry in entries %}
	<div class="event" data-type="{{ entry.entry_type }}">
		<div class="label">Label</div>
		<div class="content">
		{% if entry.is_deleted %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a><div class="date">updated <abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div> [deleted]
			</div>
		{% elif entry.parent_name %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> replied to <a class="user">{{ entry.parent_name }}</a>
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-post" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-post" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'question' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> raised a question.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-post" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-post" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'comment' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> commented
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-post" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-post" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'vote' and entry.vote_type == 'reword' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> suggested that this claim can be reworded 
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>{% if entry.reason %}
			<div class="extra text">
				Reason: {{ entry.content }}
			</div>{% endif %}
		{% elif entry.entry_type == 'vote' and entry.vote_type == 'merge' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.user_id }}">{{ entry.user_name }}</a> suggested that this claim can be merged. Please click on the "Needs merging" label to see details.
				<div class="date"><abbr title="{{ entry.created_at_full }}">{{ entry.created_at }}</abbr></div>
			</div>{% if entry.reason %}
			<div class="extra text">
				Reason: {{ entry.content }}
			</div>{% endif %}
		{% elif entry.entry_type == 'claim version' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a>'s reworded version of this claim
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="ui red improve menu" data-id="{{ entry.version_id }}" style="display:inline-block">
				<a class="item feed-delete-claim" style="display:none"><i class="delete icon"></i>Delete</a>
				<a class="item feed-like-claim-version" data-action="like"><i class="thumbs outline up icon"></i>Like<span></span></a>
			</div>
		{% elif entry.entry_type == 'claim old version' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.new_claim_author_id }}">{{ entry.new_claim_author_name }}</a> has created <a class="merged label" data-ids="{{ entry.is_merged }}">a new claim</a>, which merged this claim and <a class="merged label" data-ids="{{ entry.other_old_claims }}">these claims</a>.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
		{% elif entry.entry_type == 'claim new version' %}
			<div class="summary">
				<a class="user" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> created this claim by merging <a class="merged label" data-ids="{{ entry.merge_of }}">these claims</a>.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
		{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="ui info message">No activities to show</div>
{% endif %}

