<div class="feed-forms" style="display:none">
	<form class="ui form comment" style="display:none">
		<div class="field">
			<label><span>Add a comment</span> (Ctrl + Enter to publish)</label>
			<textarea rows="2"></textarea>
		</div>
		<div class="ui primary submit button"><i class="send outline icon"></i>Publish</div>
		<div class="ui reset button"><i class="refresh icon"></i>Reset</div>
	</form>
	<form class="ui form claim" style="display:none">
		<div class="field">
			<div style="width: 30.4em" class="ui attached info message">Please reword the highlighted text to form a coherent and meaningful claim.</div>
			<textarea></textarea>
		</div>
		<div class="ui checkbox nopublish-wrapper">
			<label>Save (you can edit or delete it later)</label>
			<input type="checkbox" name="nopublish">
		</div>
		<div class="ui primary submit button">Publish</div>
	</form>
</div>
{% if entries %}
<div class="ui feed">
{% for entry in entries %}
	<div class="event" data-type="{{ entry.entry_type }}">
		<div class="user-initial">
			<div class="{{ entry.author_role }}{% if entry.collective %} collective{% endif %}">
				{% if entry.author_role == 'facilitator' %}F
				{% elif entry.collective %}C
				{% elif entry.author_role == 'admin' %}A
				{% else %}{{ entry.author_initial }}
				{% endif %}
			</div>
		</div>
		<div class="activity-content content">
		{% if entry.is_deleted %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a><div class="date">updated <abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div> [deleted]
			</div>
		{% elif entry.parent_name %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> replied to <a class="user">{{ entry.parent_name }}</a>
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'claim' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> extracted a claim from the highlighted text.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="meta">
				<a class="doc-jumpto-claim" data-id="{{ entry.id }}">Review in full screen</a>
			</div>
		{% elif entry.entry_type == 'question' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> raised a question on the highlighted text.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% elif entry.entry_type == 'comment' %}
			<div class="summary">
				<a class="user {{ entry.author_role }}" data-id="{{ entry.author_id }}">{{ entry.author_name }}</a> commented on the highlighted text.
				<div class="date"><abbr title="{{ entry.updated_at_full }}">{{ entry.updated_at }}</abbr></div>
			</div>
			<div class="extra text">
				{{ entry.content }}
			</div>
			<div class="meta">
				<a class="feed-reply-entry" data-id="{{ entry.id }}">Reply</a>
				<a class="feed-delete-entry" data-id="{{ entry.id }}" style="display:none">Delete</a>
			</div>
		{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="ui info message">No activities to show</div>
{% endif %}

