{% load static %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Geodeliberator</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css" rel="stylesheet" class="ui" />
        {% compressed_css 'cir_global' %}
        {% block extracss %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
        <script>
            require.config({
                baseUrl: "{% static 'js' %}",
                paths: {
                    'jquery.ui': 'vendor/jquery-ui.min',
                    'jquery': '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min',
                    'semantic-ui': '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min',
                    'socket.io': '//130.203.136.141:443/socket.io/socket.io',
					'd3': '//cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min',
                    'd3-tooltip': '//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3',
                    'sankey': 'vis/sankey',
                    'dimple': '//dimplejs.org/dist/dimple.v2.1.6.min',
                    'tagcloud': 'vis/tagcloud',
                    'crossfilter': 'https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min'
                },
                shim: {
                    'semantic-ui': ['jquery'],
                    'dimple': ['d3'],
                    'sankey': ['d3'],
                    'd3-tooltip': ['d3']
                },
                waitSeconds: 200,
            });
            require([
                'layout/header'
            ], function(Header) {
                Header.initHeader();
            });
        </script>
    </head>
    <body id="cir" {% if forum_id %}forum-id="{{ forum_id }}" {% endif %}{% if phase %}data-phase="{{ phase.short_name }}"{% endif %}>
	{% block header %}
	{% endblock %}
	<div id="popup-notification" class="ui message hidden"></div>
	{% block body %}
	{% endblock %}

	{% include 'signin-signup.html' %}
	{% block extralib %}{% endblock %}
	{% block delaylib %}{% endblock %}
    </body>
</html>
