{% load static %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Geodeliberator</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" rel="stylesheet" type="text/css" class="ui" />
        {% compressed_css 'cir_global' %}
        {% block extracss %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        

    </head>
    <body id="cir">
        {% block header %}
        {% endblock %}
        {% block body %}
        {% endblock %}

        {% include 'signin-signup.html' %}
        <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
        {% compressed_js 'cir_global' %}
        {% block extralib %}{% endblock %}
        {% block delaylib %}{% endblock %}
    </body>
</html>
