<div id="chatter-wrapper" class="minimized">

	<div class="online users segment">
		<a class="ui top attached blue label titlebar">
			Chat with online users
		</a>
		<div class="ui warning message" style="display: none;">Cannot connect to the real-time module; collaboration features not available.</div>
		<div class="online users list"></div>
	</div>
	<div class="comments segment">
		<div class="ui attached chat label">
			Chat
		</div>
		<div class="ui minimal comments list"></div>
	</div>
	<form class="ui reply form">

		<div class="field">
			<textarea rows="3"></textarea>
		</div>
		<div class="ui blue small right floated reply button">
			Post
		</div>
	</form>
</div>