<div id="chatter-wrapper" class="minimized">
	<div class="ui warning disconnected message">Cannot connect to the real-time module; collaboration features not available.</div>
	<div class="online users segment">
		<div class="online users list"></div>
		<a class="ui top attached blue label titlebar">
			Chat with online users
		</a>
	</div>
	<div class="ui label chat title">Chat</div>
	<div class="comments segment">
		<div class="ui minimal comments list"></div>
	</div>
	<form class="ui reply form">
		<div class="field">
			<textarea rows="3"></textarea>
		</div>
		<div class="ui blue small right floated reply button">
			Post
		</div>
	</form>
</div>