{% if claim %}
{% if not claim.published %}
<div class="ui top attached warning message">This claim is unpublished and only visible to you</div>
{% endif %}
<div class="ui attached segment">
	{% if claim.published %}
	<div class="ui vertical segment" style="padding-top:0">
		{% if claim.collective %}<a class="ui teal right ribbon label">Collective</a>{% endif %}
		<div class="claim-content">{{ claim.content|safe }}</div>
		<div class="claim-metainfo">
			Created by <a class="user" data-id="{{ claim.author_id }}">{{ claim.author_name }}</a>
			<abbr title="{{ claim.updated_at_full }}">{{ claim.updated_at }}</abbr>
			{% if claim.category == 'pro' %}
			<a class="ui teal label">Pro</a>
			{% elif claim.category == 'con' %}
			<a class="ui red label">Con</a>
			{% elif claim.category == 'finding' %}
			<a class="ui blue label">Key Finding</a>
			{% elif claim.category == 'discarded' %}
			<a class="ui label">Discarded</a>
			{% endif %}
			{% if claim.is_merged %}
			<a class="ui merged label" data-ids="{{ claim.is_merged }}" data-action="view-newer" title="This claim has been merged -- click to view newer version(s).">Is merged</a>
			{% endif %}
			{% if claim.merge_of %}
			<a class="ui merged green label" data-ids="{{ claim.merge_of }}" data-action="view-older" title="This claim was created by merging several claims -- click to view older version(s).">Merged version</a>
			{% endif %}
			<div class="reword-flag-tags" data-id="{{ claim.version_id }}"></div>
			<div class="merge-flag-tags" data-id="{{ claim.id }}"></div>
			<div class="theme-tags" data-id="{{ claim.id }}"></div>
		</div>
	</div>
	<div class="ui vertical segment ratings" style="display:none">
		<div class="ui grid">
			<div class="three wide column"><abbr title="The relevance of this claim towards the issue">Relevance</abbr></div>
			<div class="five wide column"><div class="ui star rating" data-type="relevance"></div></div>
			<div class="three wide column"><abbr title="The quality of language expression of this claim">Language</abbr></div>
			<div class="five wide column"><div class="ui star rating" data-type="relevance"></div></div>
			<div class="three wide column"><abbr title="The quality of the information provided in this claim">Information</abbr></div>
			<div class="five wide column"><div class="ui star rating" data-type="relevance"></div></div>
			<div class="three wide column"><abbr title="The quality of argumentation of this claim">Argumentation</abbr></div>
			<div class="five wide column"><div class="ui star rating" data-type="relevance"></div></div>
		</div>
	</div>
	<div class="ui vertical segment" style="padding: 0">
		<div class="ui red small secondary claim menu" data-id="{{ claim.id }}">
			<a class="item claim-vote-btn {{ settings.prioritize_btn }}" data-action="prioritize"><i class="thumbs outline up icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ settings.vote_btn }}" data-action="pro"><i class="plus icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ settings.vote_btn }}" data-action="con"><i class="minus icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ settings.vote_btn }}" data-action="finding"><i class="flag outline icon"></i><span></span></a>
			<a class="item claim-vote-btn {{ settings.vote_btn }}" data-action="discarded"><i class="trash outline icon"></i><span></span></a>
			<div class="right menu">
				<div class="ui dropdown simple theme item">
					Theme
					<i class="dropdown icon"></i>
					<div class="ui menu">
						{% if themes %}{% for theme in themes %}
						<a class="item theme-assign-btn" data-id="{{ theme.id }}">{{ theme.name }}</a>
						{% endfor %}{% endif %}
						<a class="item theme-suggest-btn">Suggest a new theme ...</a>
					</div>
				</div>
				<div class="ui dropdown simple flag item">
					Flag
					<i class="dropdown icon"></i>
					<div class="menu" data-id="{{ claim.version_id }}">
						<a class="item claim-flag-reword-btn" data-collective="false">Flag as "needs rewording"</a>
						<a class="item claim-flag-reword-btn facilitator-only" data-collective="true" style="display:none">Flag as "needs rewording" (collective)</a>
						<a class="item claim-flag-merge-btn">Flag as "needs merging" ...</a>
					</div>
				</div>
				<div class="ui dropdown simple improve item">
					Improve
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item claim-reword-btn">Reword ...</a>
						<a class="item claim-merge-btn">Merge ...</a>
					</div>
				</div>
				<a class="item claim-gotosrc-btn" title="Reveal in Document"><i class="unhide icon"></i></a>
				<a class="item claim-back-to-list-btn" title="Back to list"><i class="arrow left icon"></i></a>
			</div>
		</div>
	</div>
	<div id="claim-activity-feed" class="ui vertical segment">
		<div class="ui small active inline loader"></div>Loading activities ...
	</div>
	{% else %}
	<div class="ui vertical segment" style="padding-top:0">
		<form class="ui form comment">
			<div class="field">
				<textarea class="claim editor" rows="6">{{ claim.content }}</textarea>
			</div>
		</form>
		<div class="claim-metainfo ui small horizontal divided list">
			<div class="item">
				<div class="content">
					Created by <a class="user" data-id="{{ claim.author_id }}">{{ claim.author_name }}</a>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<abbr title="{{ claim.updated_at_full }}">{{ claim.updated_at }}</abbr>
				</div>
			</div>
		</div>
		<div class="ui red small secondary claim menu" data-id="{{ claim.id }}">
			<a class="item claim-publish-btn"><i class="send icon"></i>Publish</a>
			<a class="item claim-save-btn"><i class="save icon"></i>Save</a>
			<a class="item claim-delete-btn"><i class="delete icon"></i>Delete</a>
			<div class="right menu">
				<a class="item claim-gotosrc-btn" title="Reveal in Document"><i class="unhide icon"></i></a>
				<a class="item claim-back-to-list-btn" title="Back to list"><i class="arrow left icon"></i></a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% else %}
<div class="ui orange inverted segment">
	No claims available for now.
</div>
{% endif %}
