<div id="claim-filter-pane" class="ui vertical accordion text menu">
    <div class="item active">
        <a class="active title">Theme</a>
        <div class="active content menu">
            <a class="item">All</a>
            {% for theme in themes %}<a class="item">{{ theme.name }}</a>{% endfor %}
            <a class="item">Undecided</a>
        </div>
    </div>
    <div class="item">
        <a class="title">Category</a>
        <div class="content menu">
            <a class="item">All</a>
            <a class="item">Pro</a>
            <a class="item">Con</a>
            <a class="item">Finding</a>
            <a class="item">Discarded</a>
            <a class="item">Undecided</a>
        </div>
    </div>
</div>
<div class="ui secondary vertical blue menu">
	<div class="item">
		{% if category %}Category: <strong>{{ category }}</strong>{% endif %}
		{% if theme %}Theme: <strong>{{ theme }}</strong>{% endif %}
		{% if not category and not theme %}<strong>All claims</strong>{% endif %}
		({{ claims_cnt }})
	</div>
	<a class="refresh item">Refresh claim list<i class="refresh icon"></i></a>
	{% if claims %}{% for claim in claims %}
	<a class="claim item" data-id="{{ claim.id }}">
		{% if not claim.published %}
			<div class="ui label">Unpublished</div>
		{% endif %}
			<abbr title="{{ claim.updated_at_full }}">{{ claim.updated_at }}</abbr>: {{ claim.excerpt }}
	</a>
	{% endfor %}{% else %}
		No claims available for now.
	{% endif %}	
</div>
