<h2 class="ui header">{{ title }}</h2>
{% if sections %}

{% for section in sections %}
<div class="ui divider"></div>
{% if section.title %}<h3 class="ui header section-header" data-id="{{ section.id }}">{{ section.title }}</h3>{% endif %}
<div class="ui label"><i class="calendar icon"></i>updated <abbr title="{{ section.updated_at_full }}">{{ section.updated_at }}</abbr></div>
<div class="section-content noselect" data-id="{{ section.id }}">{{ section.segmented_text|safe }}</div>
{% endfor %}
{% else %}
<div class="ui info message">
    No sections in this document.
</div>
{% endif %}
