<div class="ui accordion">
    <div class="active title"><h1 class="ui header"><i class="dropdown icon"></i>Documents for {{ forum_name }}</h1></div>
    <div class="active content">
        <div class="ui list">

        {% for root_doc in root_docs %}
            <div class="item">
                <span class="ui top aligned avatar image"><i class="ui file text outline big icon"></i></span>
                <div class="content">
                    <a class="header open-doc" data-id="{{ root_doc.id }}">{{ root_doc.title }}</a>
                    <div class="description">{{ root_doc.description }} ({{ root_doc.num_sections }} sections)</div>
                    {% if root_doc.num_sections %}<div class="ui label"><i class="calendar icon"></i>updated <abbr title="{{ root_doc.updated_at_full }}">{{ root_doc.updated_at }}</abbr></div>{% endif %}
                </div>
            </div>
        {% endfor %}
            
        {% for folder in folders %}
            <div class="item">
                <span class="ui top aligned avatar image"><i class="ui folder open outline big icon"></i></span>
                <div class="content">
                    <div class="header">{{ folder.name }}</div>
                    {{ folder.instructions }}
                    <div class="list">
                    {% for doc in folder.docs %}
                        <div class="item">
                            <i class="file text outline big icon"></i>
                            <div class="content">
                                <a class="header open-doc" data-id="{{ doc.id }}">{{ doc.title }}</a>
                                <div class="description">{{ doc.description }} ({{ doc.num_sections }} sections)</div>
                                {% if doc.num_sections %}<div class="ui label"><i class="calendar icon"></i>updated <abbr title="{{ doc.updated_at_full }}">{{ doc.updated_at }}</abbr></div>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not folders and not root_docs %}
            <div class="item">No document for now.</div>
        {% endif %}
        </div>
		<h3 class="ui header">Tags in the forum</h3>
	{% if tags %}{% for tag in tags %}
		<div class="ui label">{{ tag.content }}
			<div class="detail">{{ tag.count }}</div>
		</div>
	{% endfor %}{% else %}
		<div class="ui label">(No tag for now)</div>
	{% endif %}
    </div>
</div>