<div id="doc-thread-popup">
	<div class="ui attached top blue message">
		<div class="header">Activities on Highlight</div>
	</div>
	<div id="doc-thread-content" class="ui attached segment"></div>
	{% if settings.phase == 'extract' %}
	<div class="ui attached bottom segment labeled icon menu">
		<a data-action="comment" class="item doc-thread-btn">
		    <i class="comment icon"></i>Comment
		</a>
		<a data-action="claim" class="item doc-thread-btn">
		    <i class="code icon"></i>Extract claim
		</a>
	</div>
	{% else %}
	<div class="ui attached bottom warning message">
		We are not in a claim extraction round. Please discuss in the claim view.
	</div>
	{% endif %}
</div>