<div id="highlight-filter-pane" style="display: none;">
	<h3 class="ui header">Toggle highlights in the document</h3>
	<div class="ui form">
		<div class="grouped showtype fields">
			<div class="field">
				<div class="ui radio checkbox">
					<input val="annotation" type="radio" name="showtype" class="hidden" />
					<label class="tk t">Tags</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input val="claim" type="radio" name="showtype" class="hidden" />
					<label class="tk c">Claims</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input val="question" type="radio" name="showtype" class="hidden" />
					<label class="tk q">Questions</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input val="comment" type="radio" name="showtype" class="hidden" />
					<label class="tk p">Comments</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox none">
					<input val="none" type="radio" name="showtype" class="hidden" />
					<label>None</label>
				</div>
			</div>
		</div>
	</div>
	<div id="available-tags" style="display: none;"></div>
</div>