




      <span class="text">List of Topics</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Topics</div>
        {% for folder in folders %}
        <div class="item">
          <i class="dropdown icon"></i>
          {% if folder.name|length >= 50 %}
            <span class="text">{{ folder.name|slice:":50" }} ... &nbsp; &nbsp; &nbsp; &nbsp;</span>
          {% else %}
            <span class="text">{{ folder.name }}</span>
          {% endif %}
          <div class="menu">
            {% for doc in folder.content %}
              <div class="item header document-toc-doc-link" data-id="{{ doc.id }}"><i class="file icon"></i> {{ doc.name }}</div> 
              {% for sec in doc.content %}
                <div class="item document-toc-sec-link" data-id="{{ sec.id }}"> &nbsp; &nbsp; {{ sec.name }}</div>
              {% endfor %}
              <div class="divider"></div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}      
      </div>