<div class="ui segment">
	<div class="ui feed">
	{% if entries %}{% for entry in entries %}
		<div class="event">
			<div class="label">Label</div>
			<div class="content">
			{% if not entry.type %}
				<div class="summary">
					<a class="user">{{ entry.author_name }}</a> extracted a claim.
					<div class="date">{{ entry.updated_at }}</div>
				</div>
			{% elif entry.type == 'question' %}
				<div class="summary">
					<a class="user">{{ entry.author_name }}</a> raised a question.
					<div class="date">{{ entry.updated_at }}</div>
				</div>
				<div class="extra text">
					{{ entry.content }}
				</div>
			{% elif entry.type == 'comment' %}
				<div class="summary">
					<a class="user">{{ entry.author_name }}</a> added a comment.
					<div class="date">{{ entry.updated_at }}</div>
				</div>
				<div class="extra text">
					{{ entry.content }}
				</div>
			{% endif %}
			</div>
		</div>
	{% endfor %}{% else %}

	{% endif %}
	</div>
</div>
