<div id="search_area">
	<input id="search_text" type="text" size="14" placeholder="" style="display: none;">


	<div id="search_results">
		<div id="previous_annotations"></div>
		<div id="local_results"></div>
		<div id="global_results"></div>
	</div>
</div>
<div class="ui two buttons">
	<button id="save_annotation" class="ui primary button" disabled>
		That's it!
	</button>
	<button id="full_results" class="ui button">Load more results</button>
</div>

<div id="map_area">
	<div id="map"></div>
</div>
<div id="map-toolbar" class="ui three buttons" style="display:none">
	<button id="draw_line" class="ui button" >Draw line</button>
	<button id="draw_polygon" class="ui button" >Draw polygon</button>
	<button id="save_shape" class="ui button"  disabled>Save</button>
</div>