{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'layout/layout'
        ]);
    </script>
{% endblock %}
{% block delaylib %}
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}

<div id="sankey-container" style="display:none; position:fixed; left: 5em; right: 5em; top: 5%; bottom: 5%;  z-index: 100;">
	{% include 'sankey.html' %}
</div>
<div id="dark-fullscreen" style="display:none; position:fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 99; background-color:white; opacity:1;"></div>

<div id="dark-fullscreen-sankey" style="display:none; position:fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 199; background-color:black; opacity:0.7;"></div>
<div id="white-fullscreen-sankey" style="display:none; position:fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 201; background-color: rgba(0,0,0,0);">
	<a id="sankey-close-screenshot"><i class="huge icon remove" style="color:white; float:right; margin:50px;"></i></a>
</div>
<div id="test" style="    
	width: 900px;
    background: white;
    position: fixed;
    z-index: 200;
    right: 0;
    left: 0;
    top: 100px;
    margin: auto;">
</div>

<header id="nav-menu" class="ui fixed inverted main menu">
    <a href="/" class="title item">{{ forum_name }}</a>
    {% if load_error %}
    <div class="item">GeoDeliberator</div>
    {% else %}
    <a href="#" class="blue item {{ phase.document_active }}" data-tab="document-tab"><i class="icon file text outline"></i>Documents</a>
    <a href="#" class="blue item {{ phase.claim_active }}" data-tab="claim-tab"><i class="icon comment outline"></i>Claims</a>
    {% if phase.show_statement_link %}
    <a href="{{ forum_url }}/statement" class="item">Citizens' Statement</a>
    {% endif %}
    <div id="header-visitor-wrapper" class="right menu" style="display:flex">
        <div class="item">
            <div id="login-btn" class="ui button">Log in</div>
        </div>
        <div class="item">
            <div id="signup-btn" class="ui button">Sign up</div>
        </div>
    </div>
    <div id="header-member-wrapper" class="right menu" style="display:flex">
        <div class="ui simple dropdown item" tabindex="0">
            <span id="header-user-name" data-id="{{ user_id }}" data-role="{{ role }}">{{ user_name }}</span>
            <i class="icon dropdown" tabindex="0"></i>
            <div class="menu" tabindex="-1">
                <a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
                <a href="/" class="item"><i class="list layout icon"></i>Switch Forum</a>
                <a href="#" class="item"><i class="share alternative icon"></i>Share Forum</a>
                <a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
            </div>
        </div>
    </div>
    <div id="header-facilitator-wrapper" class="right menu" style="display:flex">
        <a href="{{ forum_url }}/dashboard" target="_blank" class="item">
            <i class="icon dashboard"></i>
        </a>
        <div class="ui simple dropdown item" tabindex="0">
            <i class="icon spy"></i>
            <i class="icon dropdown" tabindex="0"></i>
            <div class="switch user menu" tabindex="-1">
                <div class="header">Yourself</div>
                <div class="item" data-id="{{ user_id }}">{{ user_name }}</div>
                <div class="header">Panelists</div>
                {% for user in panelists %}
                <div class="item" data-id="{{ user.id }}">{{ user.name }}</div>
                {% endfor %}
                <div class="header">Staff</div>
                {% for user in staff %}
                <div class="item" data-id="{{ user.id }}">{{ user.name }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</header>
{% endblock %}

{% block body %}

<div id="popup-notification" class="ui message hidden"></div>
	{% if load_error %}
		{% if load_error == '404' %}
<article class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Forum does not exist; did you enter the correct address?</div>
			<p>Click <a href="/">here</a> to return to homepage.</p>
		</div>
	</div>
</article>
		{% elif load_error == '403' %}
<article class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Sorry, this is a private forum</div>
			<ul class="list">
				<li>This forum is only accessible to specific users.</li>
				<li>Click <a href="/">here</a> to return to homepage.</li>
			</ul>
		</div>
	</div>
</article>
		{% endif %}
	{% else %}
<article class="ui main tab {{ phase.document_active }}" data-tab="document-tab">
	
	<div class="ui grid" style="margin-top:0;" style="padding-top:0; position:fixed; width:100%; height:100%;">
		
		<div class="sixteen wide document column" style="z-index:40;">
			<div id="workbench-theme-container"></div>
		</div>
	
		<div class="six wide document column document-related" id="workbench2-document-container" style="overflow:auto;">
			<div id="workbench-document-panel">
				<div id="workbench-document" class="ui segment" style="overflow: auto;">
<!-- 					{% include 'workbench-tutorial.html' %}
 -->				</div>
			</div>	
		</div>

		<div class="five wide column" id = "workbench2-nugget-container">
			<div id="workbench-nugget-container">
				<div id="workbench-nugget-panel">
					<div id="workbench-nugget">
						<div id="workbench-nugget-list" class="ui segment" style="overflow:auto;">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="five wide column" style = "padding:0.5em;">
			<div id = "workbench2-claim-textarea-container" style = "height:230px;" class="ui segment">
				<div class="ui top attached label">Create claim based on nugget(s) here</div>
				<div class="ui form">
					<div class="field">
						<textarea rows="6"></textarea>
					</div>
					<div class="ui buttons">
						<button class="ui positive button workbench-claim-tab">Finding</button>
						<div class="or"></div>
						<button class="ui button workbench-claim-tab">Opinion</button>
					</div>
					<div class="ui button workbench-add-claim" style="float:right;">Add</div>
					<div class="ui button workbench-clear-claim" style="float:right;">Clear</div>
				</div>
			</div>
			<div id = "workbench2-claim-container" >
				<div id="workbench-claim-list" class="flag ui segment" style="overflow:auto;">
				</div>
			</div>
		</div>		
		
	</div>
	{% include 'doc/doc-highlight-toolbar.html' with phase=phase %}
	{% include 'doc/doc-thread-popup.html' with phase=phase %}
</article>
<article class="ui main tab {{ phase.claim_active }}" data-tab="claim-tab">
	<div class="ui grid">
		<section class="ten wide claim column" style="margin-bottom: 3em">
            <div class="ui attached info message" style="margin-top:0">
                <div class="ui instructions accordion">
                    <div class="ui active title"><i class="dropdown icon"></i>Current phase: {{ phase.full_name }}</div>
                    <div class="active content">
                        {{ phase.instructions }}
                    </div>
                </div>
            </div>
			<div class="ui top attached tabular menu">
				<a class="item active claim-view-btn" data-type="overview">
					<i class="align justify icon"></i> Overview
				</a>
				<a class="item claim-view-btn" data-type="fullscreen">
					<i class="maximize icon"></i> Full-screen Review
				</a>
			</div>

			<section id="claim-pane" class="{{ phase.short_name }}">
				<div class="ui empty segment"></div>
			</section>
		</section>
		<aside id="claim-navigator" class="six wide column ui segment"></aside>
		<div id="claim-merge-editor" class="ui modal">
			<i class="close icon"></i>
			<div class="content">
				<form class="ui form">
					<h4 class="ui dividing header">You are merging the following claims:</h4>
					<input type="hidden" />
					<div class="claim-content"></div>
					<textarea class="claim editor" rows="6"></textarea>
					<div class="ui primary button">Submit</div>
					<div class="ui close button">Discard</div>
				</form>
			</div>
		</div>
		<div id="claim-reason-editor" class="ui modal">
			<i class="close icon"></i>
			<div class="content">
				<form class="ui form">
					<h4 class="ui dividing header">Please input a reason for the suggested operation (optional):</h4>
					<input type="hidden" name="version_id" />
					<input type="hidden" name="collective" />
					<div class="reason-content"></div>
					<textarea class="reason editor" rows="3" placeholder="Reason (optional)"></textarea>
					<div class="ui primary button">Submit</div>
					<div class="ui close button">Cancel</div>
				</form>
			</div>
		</div>
	</div>
</article>

<div id="question_sidebox_tab" status="close" style="display:;"><b>Questions</b></div>
<div id="question_sidebox_container" >
	<div id="question_sidebox_header" style="position:absolute; width: 100%; text-align: center; line-height:2em; background: AliceBlue;">
		<div id="question_sidebox_container_hide" style="float:left;"></i></div>
		Questions
	</div>
	<div id="question_sidebox_content" style="position:absolute; top:2em; bottom:0; overflow: auto;">
		<div id="qa-wrapper">
			<div id="qa-refresh-prompter" class="ui info message hidden"></div>
			<div class="ui fluid top attached two item blue pointing menu" style="margin-top: 0;">
				<a class="item refresh-list">Refresh List</a>
				<a class="item new-question">Raise a question</a>
			</div>
			<div class="ui buttom attached secondary segment new question hidden">
				<form class="ui form">
					<div class="ui message">
						If your question has a context in the document, please ...
					</div>
					<div class="field">
						<textarea rows="3"></textarea>
					</div>
					<button class="ui submit button">Submit</button>
				</form>
			</div>
			<div id="qa-list"></div>
		</div>
	</div>
</div>

<footer id="fixed-steps" class="ui five small steps">
	<div class="{% if phase.short_name == 'nugget' %}active {% endif %}step">
		<div class="title">Extract Nuggets</div>
	</div>
	<div class="{% if phase.short_name == 'extract' %}active {% endif %}step">
		<div class="title">Build Claims</div>
	</div>
	<div class="{% if phase.short_name == 'categorize' %}active {% endif %}step">
		<div class="title">Categorize</div>
	</div>
	<div class="{% if phase.short_name == 'improve' %}active {% endif %}step">
		<div class="title">Prioritize &amp; Improve</div>
	</div>
	<div class="{% if phase.short_name == 'finished' %}active {% endif %}step">
		{% if phase.short_name == 'finished' %}
			<a href="{{ forum_url }}/statement" class="title">Citizens' Statement</a>
		{% else %}
			<div class="title">Citizens' Statement</div>
		{% endif %}
	</div>
</footer>


<div class="ui raised segment nugget-related" id="nugget-operations-green">
	<div class="ui top attached label">Actions</div>
  	<div class="ui secondary vertical menu" style="width:80px;">
	    <a class="item use-nugget"> Use </a>
	    <a class="item source-nugget"> Source </a>
	    <a class="item delete-nugget"> Delete </a>
	    <a class="item reassign-nugget"> Reassign </a>
  	</div>
</div>
<div class="ui raised segment nugget-related" id="nugget-operations-red">
	<div class="ui top attached label">Action</div>
  	<div class="ui secondary vertical menu" style="width:80px;">
	    <a class="item recover-nugget"> Recover </a>
  	</div>
</div>


<div class="ui raised segment document-related" id="workbench-document-toc-container">
</div>


<!-- <div class="ui segment sankey-related" id="sankey-element-checkbox-list" style="margin:0; padding:0; width:150px; z-index:105;">
  <div class="ui checkbox" data-value="d">
    <input type="checkbox" name="public">
    <label>Document<a class="ui green label" id="doc-num" style="margin-left:10px; float:right;"></a></label>
  </div>
  <div class="ui checkbox" data-value="p">
    <input type="checkbox" name="public">
    <label>Person<a class="ui red label" id="person-num" style="margin-left:10px; float:right;"></a></label>
  </div>
  <div class="ui checkbox" data-value="s">
    <input type="checkbox" name="public">
    <label>Section<a class="ui blue label" id="section-num" style="margin-left:10px; float:right;"></a></label>
  </div>
  <div class="ui checkbox" data-value="t">
    <input type="checkbox" name="public">
    <label>Topic<a class="ui yellow label" id="topic-num" style="margin-left:10px; float:right;"></a></label>
  </div>
  <div class="ui bottom attached basic button" id="update-sankey" style="margin-top: 10px;">Clean/Update</div>
</div> -->

{% if role != 'visitor' %}
	{% include 'chatter.html' %}
	{% include 'vis.html' %}
{% endif %}
	{% endif %}

{% endblock %}

