{% extends 'base.html' %}
{% block header %}
<header class="ui fixed inverted main menu">
	<a href="/" class="item">GeoDeliberator</a>
	{% if not load_error %}
	<div id="header-member-wrapper" class="right menu" style="display:flex">
		<a href="/{{ forum_url }}" class="item" target="_blank">Open full review in new tab</a>
	</div>
	{% endif %}
</header>
{% endblock %}
{% block body %}

{% if load_error and load_error == '404' %}
<article class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Forum does not exist; did you enter the correct address?</div>
		</div>
	</div>
</article>
{% else %}
<div id="citizens-statement" class="ui centered grid container">
	<div class="ten wide column">
		<h2>Citizen's statement on {{ forum_name }}</h2>
		<section class="ui segment">
			{{ stmt_preamble|safe }}
		</section>
		<h3>Key Findings</h3>
		<section class="ui segment">
			<ol class="ui list">
			{% for claim in claims.findings %}
				<li class="item">
					<div class="description" data-id="{{ claim.id }}">
						{{ claim.content|safe }}
						{% if claim.theme %}<span class="ui label">Theme: {{ claim.theme }}</span>{% endif %}
					<a class="ui right floated small label">Comment (0)</a>
					<a class="ui right floated small label">Show thread</a>
					</div>
				</li>
			{% endfor %}
			</ol>
		</section>
		<h3>Proponent Claims</h3>
		<section class="ui segment">
			<ol class="ui list">
			{% for claim in claims.pros %}
				<li class="item">
					<div class="description" data-id="{{ claim.id }}">
						{{ claim.content|safe }}
						{% if claim.theme %}<span class="ui label">Theme: {{ claim.theme }}</span>{% endif %}
					<a class="ui right floated small label">Comment (0)</a>
					<a class="ui right floated small label">Show thread</a>
					</div>
				</li>
			{% endfor %}
			</ol>
		</section>
		<h3>Opponent Claims</h3>
		<section class="ui segment">
			<ol class="ui list">
			{% for claim in claims.cons %}
				<li class="item">
					<div class="description" data-id="{{ claim.id }}">
						{{ claim.content|safe }}
						{% if claim.theme %}<span class="ui label">Theme: {{ claim.theme }}</span>{% endif %}
					<a class="ui right floated small label">Comment (0)</a>
					<a class="ui right floated small label">Show thread</a>
					</div>
				</li>
			{% endfor %}
			</ol>
		</section>
	</div>
</div>
{% endif %}
{% endblock %}
