{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
	{% compressed_js 'cir_dashboard' %}
{% endblock %}
{% block delaylib %}
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_dashboard' %}
{% endblock %}
{% block header %}
<div class="ui fixed inverted main tabular menu">
	<div class="container">
		<a href="/{{ forum_url }}" class="title item">Back to {{ forum_name }}</a>
		{% if load_error %}
		<div class="item">GeoDeliberator</div>
		{% else %}
		<a href="#" class="item active" data-tab="overview-tab">Overview</a>
		<a href="#" class="item" data-tab="forum-tab">Forum</a>
		<a href="#" class="item" data-tab="users-tab">Users</a>
		<a href="#" class="item" data-tab="messages-tab">Messages</a>
		<a href="#" class="item" data-tab="log-tab">Access log</a>
		<a href="#" class="item" data-tab="tag-theme-tab">Themes for Tags</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block body %}
<div id="popup-notification" class="ui message hidden"></div>
	{% if load_error %}
		{% if load_error == '404' %}
<div class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Forum does not exist; did you enter the correct address?</div>
			<p>Click <a href="/">here</a> to return to homepage.</p>
		</div>
	</div>
</div>
		{% elif load_error == '403' %}
<div class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Sorry, you have no access to this page.</div>
			<ul class="list">
				<li>The facilitator's dashboard is only accessible to facilitators of this forum.</li>
				<li>Click <a href="/{{ forum_url }}">here</a> to return to forum.</li>
			</ul>
		</div>
	</div>
</div>
		{% endif %}
	{% else %}
<div class="container">
	<div class="ui main tab active" data-tab="overview-tab">
		<div class="ui centered grid">
			<div class="sixteen wide column">
				<h3>Forum activities</h3>
				<div class="ui segment" style="padding:0">
					<iframe src="http://code.shutterstock.com/rickshaw/examples/multi.html" style="border:none;width:100%;height:800px"></iframe>
				</div>
			</div>
			<div class="ten wide column">
				<h3>Current phase of deliberation</h3>
				<div class="ui segment">
					<div class="ui info message">
						<ul class="list">
							<li>Paused: used during deliberation; forum is read-only, all activities paused.</li>
							<li>Not started: used before deliberation; forum is read-only.</li>
							<li>Extract: document-level activities - creating highlights, commenting, Q &amp; A and claim extraction thereupon.</li>
							<li>Categorize: claim categorization and commenting thereupon.</li>
							<li>Theme assignment: claim theme assignment and commenting thereupon.</li>
							<li>Prioritize and Improve: suggestion of rewording and merging, performing rewording and merging, prioritizing, and commenting on these behaviors.</li>
							<li>Finished: used after deliberation; forum is read-only, Citizens' Statement available.</li>
						</ul>
					</div>
					<div id="forum-phase-form" class="ui form">
						<div class="field">
							<select class="ui fluid dropdown">
								<option value="paused" {% if phase == 'paused' %} selected{% endif %}>Paused</option>
								<option value="not_started" {% if phase == 'not_started' %} selected{% endif %}>Not started</option>
								<option value="extract" {% if phase == 'extract' %} selected{% endif %}>Extract</option>
								<option value="categorize" {% if phase == 'categorize' %} selected{% endif %}>Categorize</option>
								<option value="theming" {% if phase == 'theming' %} selected{% endif %}>Theme assignment</option>
								<option value="improve" {% if phase == 'improve' %} selected{% endif %}>Prioritize and Improve</option>
								<option value="finished" {% if phase == 'finished' %} selected{% endif %}>Finished</option>
							</select>
						</div>
						<div class="field">
							<div class="ui primary button">Update</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui main tab" data-tab="forum-tab">
		<div class="ui centered grid">
			<div class="ten wide column">
				<h3>Forum options</h3>
				<div class="ui segment">
					<form id="forum-option-form" class="ui form">
						<div class="field required">
							<label>Forum full name (max 500 characters)</label>
							<div class="ui icon input">
								<input type="text" name="forum_name" value="{{ forum_name }}">
							</div>
						</div>
						<div class="field required">
							<label>Forum url (max 100 characters)</label>
							<div class="ui icon input">
								<input type="text" name="forum_url" value="{{ forum_url }}">
							</div>
						</div>
						<div class="field">
							<label>Forum description</label>
							<textarea name="description">{{ description }}</textarea>
						</div>
						<div class="field">
							<label>Access level</label>
							<div class="ui info message">
								<ul class="list">
									<li>Open access: everyone can view; all registered users can contribute.</li>
									<li>Panelist: everyone can view; only panelists can contribute.</li>
									<li>Private: only panelists can view and contribute.</li>
								</ul>
							</div>
							<select name="access_level" class="ui simple dropdown">
								<option value="open" {% if access_level == 'open' %}selected{% endif %}>Open access</option>
								<option value="panelist"{% if access_level == 'panelist' %}selected{% endif %}>Panelist only</option>
								<option value="private"{% if access_level == 'private' %}selected{% endif %}>Private</option>
							</select>
						</div>
						<div class="ui submit primary button">Update</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
	<div class="ui main tab" data-tab="users-tab">
		<div class="ui grid">
			<div class="ten wide column">Please select a document from the list.</div>
			<div class="six wide column"></div>
		</div>
	</div>
	<div class="ui main tab" data-tab="messages-tab">
		<div class="ui grid">
			<div class="ten wide column">Please select a document from the list.</div>
			<div class="six wide column"></div>
		</div>
	</div>
	<div class="ui main tab" data-tab="log-tab">
		<div class="ui grid">
			<div class="ten wide column">Please select a document from the list.</div>
			<div class="six wide column"></div>
		</div>
	</div>
	<div class="ui main tab" data-tab="tag-theme-tab">
		<div style="margin-top:2em; margin-bottom:2em;">
			<button class="ui primary button" id="add-tag-theme-btn">
	 			<i class="icon plus"></i>add a theme for tags
			</button>
			<button class="ui primary button" id="save-tag-theme-change">
	 			<i class="icon save"></i>save all changes
			</button>
		</div>
		<div class="ui modal add-tag-theme-modal">
			<div class="header">Add a theme for tags</div>
			<div class="content"> 
			<form class="ui form">
				<div class="field">
				<label>Theme Name</label>
					<input class="new-theme-name" type="text" name="theme-name" placeholder="theme name">
				</div>
				<div class="field">
					<label>Description</label>
					<input class="new-theme-description" type="text" name="description" placeholder="description">
				</div>
			</form>
			</div>
		  	<div class="actions">
				<div class="ui button">Cancel</div>
				<div class="ui primary button add-tag-theme-ok">Confirm</div>
			</div>
		</div>
		<div id="tag-theme-section">
			<div class="ui grid" id="tag-theme-grid">
				{% for theme, tags in tag_theme.items %}
				<div class="four wide column">
					<div class="ui segment tag-theme-segment">
						<div class="tag-theme-name"><h4>{{ theme }}</h4></div>
						<div class="ui divider"></div>
						{% for tag in tags %}
							<a class="ui big label tag-theme-tags" style="margin-bottom:.5em;" draggable="true">{{ tag }}</a>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
	{% endif %}
{% endblock %}