{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'layout/layout'
        ]);
    </script>
{% endblock %}
{% block delaylib %}
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
<header id="nav-menu" class="ui fixed inverted main menu">
    <a class="item" style="left:45%;"><b>Topic Selection for CIR</b></a>
    {% if load_error %}
    <a class="item">GeoDeliberator</a>
    {% else %}
<!--     <a href="#" class="blue item {{ phase.document_active }}" data-tab="document-tab"><i class="icon file text outline"></i>Documents</a>
    <a href="#" class="blue item {{ phase.claim_active }}" data-tab="claim-tab"><i class="icon comment outline"></i>Claims</a> -->
    {% if phase.show_statement_link %}
    <a href="{{ forum_url }}/statement" class="item">Citizens' Statement</a>
    {% endif %}
    <div id="header-visitor-wrapper" class="right menu" style="display:flex">
        <div class="item">
            <div id="login-btn" class="ui button">Log in</div>
        </div>
        <div class="item">
            <div id="signup-btn" class="ui button">Sign up</div>
        </div>
    </div>
    <div class="right menu" style="display:flex">
    	<a id="header-member-wrapper">
	        <div class="ui simple dropdown item" tabindex="0">
	            <span id="header-user-name" data-id="{{ user_id }}" data-role="{{ role }}">{{ user_name }}</span>
	            <i class="icon dropdown" tabindex="0"></i>
	            <div class="menu" tabindex="-1">
	                <a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
	                <a href="/" class="item"><i class="list layout icon"></i>Switch Forum</a>
	                <a href="#" class="item"><i class="share alternative icon"></i>Share Forum</a>
	                <a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
	            </div>
	        </div>
    	</a>
<!--     	<a id="header-facilitator-wrapper">
	        <a href="{{ forum_url }}/dashboard" target="_blank" class="item">
	            <i class="icon dashboard"></i>
	        </a>
	        <div class="ui simple dropdown item" tabindex="0">
	            <i class="icon spy"></i>
	            <i class="icon dropdown" tabindex="0"></i>
	            <div class="switch user menu" tabindex="-1">
	                <div class="header">Yourself</div>
	                <div class="item" data-id="{{ user_id }}">{{ user_name }}</div>
	                <div class="header">Panelists</div>
	                {% for user in panelists %}
	                <div class="item" data-id="{{ user.id }}">{{ user.name }}</div>
	                {% endfor %}
	                <div class="header">Staff</div>
	                {% for user in staff %}
	                <div class="item" data-id="{{ user.id }}">{{ user.name }}</div>
	                {% endfor %}
	            </div>
	        </div>    		
    	</a> -->
    </div>
    {% endif %}
</header>
{% endblock %}

{% block body %}

<div id="popup-notification" class="ui message hidden"></div>
	{% if load_error %}
		{% if load_error == '404' %}
<article class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Forum does not exist; did you enter the correct address?</div>
			<p>Click <a href="/">here</a> to return to homepage.</p>
		</div>
	</div>
</article>
		{% elif load_error == '403' %}
<article class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Sorry, this is a private forum</div>
			<ul class="list">
				<li>This forum is only accessible to specific users.</li>
				<li>Click <a href="/">here</a> to return to homepage.</li>
			</ul>
		</div>
	</div>
</article>
		{% endif %}
	{% else %}
<article class="ui main tab {{ phase.document_active }}" data-tab="document-tab">
	
	<div class="ui grid" style="margin-top:0;" style="padding-top:0; position:fixed; width:100%; height:100%;">
		
		<div class="sixteen wide document column" style="position: fixed; top: 3em; z-index:40;">
			<div id="workbench-theme-container"></div>
		</div>
	
		<div class="nine wide document column" id="workbench2-document-container">
			<div id="workbench-document-panel">
				<div id="workbench-document">
					{% include 'workbench-tutorial.html' %}
				</div>
			</div>
			<div class="ui buttons" style="
				position: fixed;
				left: 0%;
				bottom: 50px;
				z-index: 1;
				box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
				">
				<div class="ui button" id="workbench-document-back-to-top">个</div>
			</div>		
		</div>
		
		<div class="seven wide column" id = "tsd-container">
			<div id="tsd-wrapper">
				<div id="tsd-refresh-prompter" class="ui info message hidden"></div>
				<div class="ui fluid top attached two item blue pointing menu" style="margin-top: 0;">
					<a class="item refresh-list">Refresh List</a>
					<a class="item new-question">Raise a question</a>
				</div>
				<div class="ui buttom attached secondary segment new question hidden">
					<form class="ui form">
						<div class="ui message">
							If your question has a context in the document, please ...
						</div>
						<div class="field">
							<textarea rows="3"></textarea>
						</div>
						<button class="ui submit button">Submit</button>
					</form>
				</div>
				<div id="tsd-list"></div>
			</div>
		</div>

		<div class="seven wide column shadow1" id = "workbench2-claim-textarea-container">
			<div class="ui form">
				<div class="field">
					<textarea rows="4"></textarea>
				</div>
				<div class="ui form">
					<div id="tsdclaim-type" class="inline fields">
						<label></label>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" data-type="Framing question" name="frequency" checked="checked">
								<label>Framing Issue</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" data-type="Document" name="frequency">
								<label>Document</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" data-type="Panelist" name="frequency">
								<label>Panelist</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" data-type="Expert" name="frequency">
								<label>Expert</label>
							</div>
						</div>
						<div class="ui button add-tsdclaim" style="position: absolute; right: 0;">Add</div>
					</div>
				</div>
			</div>
		</div>		
		
		<div class="seven wide column" id = "workbench2-claim-container">
			<div id="workbench-claim-list" class="flag">
				<div style="height:500px;">
				</div>
				<div style="" class="ui active inverted dimmer">
					<div class="ui large text loader">Preparing claims</div>
				</div>
			</div>
		</div>
		
	</div>
	{% include 'doc/doc-highlight-toolbar.html' with phase=phase %}
	{% include 'doc/doc-thread-popup.html' with phase=phase %}
</article>
<article class="ui main tab {{ phase.claim_active }}" data-tab="claim-tab">
	<div class="ui grid">
		<section class="ten wide claim column" style="margin-bottom: 3em">
            <div class="ui attached info message" style="margin-top:0">
                <div class="ui instructions accordion">
                    <div class="ui active title"><i class="dropdown icon"></i>Current phase: {{ phase.full_name }}</div>
                    <div class="active content">
                        {{ phase.instructions }}
                    </div>
                </div>
            </div>
			<div class="ui top attached tabular menu">
				<a class="item active claim-view-btn" data-type="overview">
					<i class="align justify icon"></i> Overview
				</a>
				<a class="item claim-view-btn" data-type="fullscreen">
					<i class="maximize icon"></i> Full-screen Review
				</a>
			</div>

			<section id="claim-pane" class="{{ phase.short_name }}">
				<div class="ui empty segment"></div>
			</section>
		</section>
		<aside id="claim-navigator" class="six wide column ui segment"></aside>
		<div id="claim-merge-editor" class="ui modal">
			<i class="close icon"></i>
			<div class="content">
				<form class="ui form">
					<h4 class="ui dividing header">You are merging the following claims:</h4>
					<input type="hidden" />
					<div class="claim-content"></div>
					<textarea class="claim editor" rows="6"></textarea>
					<div class="ui primary button">Submit</div>
					<div class="ui close button">Discard</div>
				</form>
			</div>
		</div>
		<div id="claim-reason-editor" class="ui modal">
			<i class="close icon"></i>
			<div class="content">
				<form class="ui form">
					<h4 class="ui dividing header">Please input a reason for the suggested operation (optional):</h4>
					<input type="hidden" name="version_id" />
					<input type="hidden" name="collective" />
					<div class="reason-content"></div>
					<textarea class="reason editor" rows="3" placeholder="Reason (optional)"></textarea>
					<div class="ui primary button">Submit</div>
					<div class="ui close button">Cancel</div>
				</form>
			</div>
		</div>
	</div>
</article>

<!-- <div id="question_sidebox_tab" status="close" style="display:;"><b>Questions</b></div>
<div id="question_sidebox_container" >
	<div id="question_sidebox_header" style="position:absolute; width: 100%; text-align: center; line-height:2em; background: AliceBlue;">
		<div id="question_sidebox_container_hide" style="float:left;"></i></div>
		Questions
	</div>
	<div id="question_sidebox_content" style="position:absolute; top:2em; bottom:0; overflow: auto;">
		<div id="qa-wrapper">
			<div id="qa-refresh-prompter" class="ui info message hidden"></div>
			<div class="ui fluid top attached two item blue pointing menu" style="margin-top: 0;">
				<a class="item refresh-list">Refresh List</a>
				<a class="item new-question">Raise a question</a>
			</div>
			<div class="ui buttom attached secondary segment new question hidden">
				<form class="ui form">
					<div class="ui message">
						If your question has a context in the document, please ...
					</div>
					<div class="field">
						<textarea rows="3"></textarea>
					</div>
					<button class="ui submit button">Submit</button>
				</form>
			</div>
			<div id="qa-list"></div>
		</div>
	</div>
</div> -->

<!-- <footer id="fixed-steps" class="ui five small steps">
	<div class="{% if phase.short_name == 'nugget' %}active {% endif %}step">
		<div class="title">Extract Nuggets</div>
	</div>
	<div class="{% if phase.short_name == 'extract' %}active {% endif %}step">
		<div class="title">Build Claims</div>
	</div>
	<div class="{% if phase.short_name == 'categorize' %}active {% endif %}step">
		<div class="title">Categorize</div>
	</div>
	<div class="{% if phase.short_name == 'improve' %}active {% endif %}step">
		<div class="title">Prioritize &amp; Improve</div>
	</div>
	<div class="{% if phase.short_name == 'finished' %}active {% endif %}step">
		{% if phase.short_name == 'finished' %}
			<a href="{{ forum_url }}/statement" class="title">Citizens' Statement</a>
		{% else %}
			<div class="title">Citizens' Statement</div>
		{% endif %}
	</div>
</footer> -->

<div class="ui special popup" id="workbench-document-toc-container">
</div>

{% if role != 'visitor' %}
<!-- 	{% include 'chatter.html' %}
	{% include 'vis.html' %} -->
{% endif %}
	{% endif %}

{% endblock %}

