{% extends 'base.html' %}
{% block header %}
{% include 'header/forum_list_header.html' %}
{% endblock %}
{% block body %}
<div class="ui grid container">
	<div class="row">
		<div class="column">
			<div class="ui message">
				<div class="header">Welcome back!</div>
				<p>Please choose one of the following forums to explore!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="ui divided items segment">
				{% if forums %}
					{% for forum in forums %}
						<div class="item">
							<div class="image"><img src="{{ forum.logo_url }}" alt="Default forum picture"></div>
							<div class="content">
								<a href="/{{ forum.url }}/{{ forum.current_phase }}" class="header">{{ forum.full_name }}</a>
								<div class="meta">cir.ist.psu.edu/{{ forum.url }}</div>
								<div class="description">{{ forum.short_description }}</div>
								<div class="extra">
									<a href="/{{ forum.url }}/{{ forum.current_phase }}" class="ui right floated primary button">Enter<i class="right chevron icon"></i></a>
									<div class="ui horizontal label">{{ forum.access_level|capfirst }}</div>
									<div class="ui horizontal label">My role: <strong>{{ forum.role|capfirst }}</strong></div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
				<div class="item">
					<div class="image"><img src="/media/generic.png" alt="Image placeholder"></div>
					<div class="content">
						<div href="#" class="header">No forums available</div>
						<div class="description">Some forums are only visible to participants. Please log in.</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
