{% extends 'base.html' %}
{% block header %}
<div class="ui fixed inverted main menu">
    <div class="title item">GeoDeliberator</div>
    <div id="header-visitor-wrapper" class="right menu" style="display:flex">
        <div class="item">
            <div id="login-btn" class="ui button">Log in</div>
        </div>
        <div class="item">
            <div id="signup-btn" class="ui button">Sign up</div>
        </div>
    </div>
    <div id="header-member-wrapper" class="right menu" style="display:flex">
        <a href="#" class="item"><i class="mail icon"></i>Messages</a>
        <div class="ui dropdown simple item" tabindex="0">
            <span id="header-user-name" data-id="{{ user_id }}">{{ user_name }}</span>
            <i class="icon dropdown" tabindex="0"></i>
            <div class="menu" tabindex="-1">
                <a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
                <a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="ui grid container">
	<div class="row">
		<div class="column">
			<div class="ui message">
				<div class="header">Welcome back!</div>
				<p>Please choose one of the following forums to explore!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="ui divided items segment">
				{% if forums %}{% for forum in forums %}
				<div class="item">
					<div class="image"><img src="{{ forum.logo_url }}" alt="Default forum picture"></div>
					<div class="content">
						<a href="/{{ forum.url }}" class="header">{{ forum.full_name }}</a>
						<div class="meta">cir.ist.psu.edu/{{ forum.url }}</div>
						<div class="description">{{ forum.short_description }}</div>
						<div class="extra">
							<a href="/{{ forum.url }}" class="ui right floated primary button">Enter<i class="right chevron icon"></i></a>
							<div class="ui horizontal label">{{ forum.access_level|capfirst }}</div>
							<div class="ui horizontal label">My role: <strong>{{ forum.role|capfirst }}</strong></div>
						</div>
					</div>
				</div>
				{% endfor %}{% else %}
				<div class="item">
					<div class="image"><img src="/media/generic.png" alt="Image placeholder"></div>
					<div class="content">
						<a href="#" class="header">No forums available!</a>
						<div class="description">Please come back and check again</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
