{% load static %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
    {% load require %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Geodeliberator: Community Deliberation</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" rel="stylesheet" class="ui" />
        <link rel="stylesheet" href="{% static 'css' %}/statement.css">
        <link rel="stylesheet" href="{% static 'css' %}/page_body.css">
        {% require_module 'postcir/main' %}
    </head>
    <body{% if forum_id %} forum-id="{{ forum_id }}"{% endif %} data-phase="{{ active_phase }}">
    	{% include 'header/forum_postcir_header.html' %}
        {% if load_error %}
        <div class="ui two column centered grid">
            <div class="column" style="top:50px">
                <div class="ui error message">
                    <div class="header">Forum does not exist; did you enter the correct address?</div>
                    <p>Click <a href="/">here</a> to return to homepage.</p>
                </div>
            </div>
        </div>
        {% else %}
        <div id="popup-notification" class="ui message hidden"></div>
            {% if active_phase == 'issue' %}{% include 'postcir/issue-briefing.html' %}{% endif %}
            {% if active_phase == 'statement' %}{% include 'postcir/stmt-quiz.html' %}{% endif %}
            {% if active_phase == 'deliberation' %}{% include 'postcir/deliberation.html' %}{% endif %}
            {% include 'signin-signup.html' %}
        {% endif %}
    </body>
</html>

