{% extends 'base.html' %}
{% load static %}
{% block extralib %}
<script src="{% static 'js/layout.js' %}"></script>
<script src="{% static 'js/document.js' %}"></script>
<script src="{% static 'js/claim.js' %}"></script>
<script src="{% static 'js/activity-feed.js' %}"></script>
{% endblock %}
{% block delaylib %}
{% endblock %}
{% block extracss %}
<link href="{% static 'css/document.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/claim.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/page_body.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header %}
<div class="ui fixed inverted main tabular menu">
	<div class="container">
		<a href="/" class="title item">{{ forum_name }}</a>
		{% if load_error %}
		<div class="item">GeoDeliberator</div>
		{% else %}
		<a href="#" class="item active" data-tab="document-tab"><i class="icon file text outline"></i>Read Documents</a>
		<a href="#" class="item" data-tab="claim-tab"><i class="icon comment outline"></i>Create Claims</a>
		<div id="header-visitor-wrapper" class="right menu" style="display:inline-block">
			<div class="item">
				<div id="login-btn" class="ui button">Log in</div>
			</div>
			<div class="item">
				<div id="signup-btn" class="ui button">Sign up</div>
			</div>
		</div>
		<div id="header-member-wrapper" class="right menu" style="display:inline-block">
			<a href="#" class="item"><i class="mail icon"></i>Messages</a>
			<div class="ui simple dropdown item" tabindex="0">
				<span id="header-user-name" data-id="{{ user_id }}" data-role="{{ role }}">{{ user_name }}</span>
				<i class="icon dropdown" tabindex="0"></i>
				<div class="menu" tabindex="-1">
					<a href="#" id="edit-profile-btn" class="item"><i class="edit icon"></i>Edit Profile</a>
					<a href="/" class="item"><i class="list layout icon"></i>Switch Forum</a>
					<a href="#" class="item"><i class="share alternative icon"></i>Share Forum</a>
					<a href="#" id="sign-out-btn" class="item"><i class="sign out icon"></i>Sign out</a>
				</div>
			</div>
		</div>
		<div id="header-facilitator-wrapper" class="right menu" style="display:inline-block">
			<div class="ui simple dropdown item" tabindex="0">
				<i class="icon dashboard"></i>
				<i class="icon dropdown" tabindex="0"></i>
				<div class="facilitator menu" tabindex="-1">
					<a href="#" class="item" data-action="overview">Overview</a>
					<a href="#" class="item" data-action="rounds">Rounds</a>
					<a href="#" class="item" data-action="users">Users</a>
					<a href="#" class="item" data-action="layout">Layout</a>
					<a href="#" class="item" data-action="log">Access Log</a>
					<div class="ui dropdown item">Switch User<i class="dropdown icon"></i>
						<div class="menu">
							{% for user in panelists %}
							<a class="item" data-action="switch_user" data-id="{{ user.id }}">{{ user.name }}</a>
							{% endfor %}
							<a class="item" data-action="switch_user" data-id="{{ user_id }}">{{ user_name }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block body %}
<div id="popup-notification" class="ui message hidden"></div>
	{% if load_error %}
		{% if load_error == '404' %}
<div class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Forum does not exist; did you enter the correct address?</div>
			<p>Click <a href="/">here</a> to return to homepage.</p>
		</div>
	</div>
</div>
		{% elif load_error == '403' %}
<div class="ui two column centered grid">
	<div class="column" style="top:50px">
		<div class="ui error message">
			<div class="header">Sorry, this is a private forum</div>
			<ul class="list">
				<li>This forum is only accessible to specific users.</li>
				<li>Click <a href="/">here</a> to return to homepage.</li>
			</ul>
		</div>
	</div>
</div>
		{% endif %}
	{% else %}
<div class="ui main tab active" data-tab="document-tab">
	<div class="ui grid">
		<div id="document-categories" class="sixteen wide column"></div>
		<div id="document-pane" class="ten wide column">Please select a document from the list.</div>
		<div class="six wide column"></div>
	</div>
	<div id="doc-highlight-toolbar">
		<div class="ui attached top segment blue labeled icon menu">
			<a data-action="comment" class="item doc-anno-btn">
			    <i class="comment icon"></i>Comment
			</a>
			<a data-action="question" class="item doc-anno-btn">
			    <i class="help icon"></i>Raise question
			</a>
			<a data-action="claim" class="item doc-anno-btn">
			    <i class="code icon"></i>Extract claim
			</a>
		</div>
		<div class="ui attached bottom segment" style="display:none">
			<form id="doc-comment-form" class="ui form comment" style="display:none">
				<div class="field">
					<label><span></span> (Ctrl + Enter to publish)</label>
					<textarea rows="2"></textarea>
				</div>
				<div class="ui primary button doc-anno-submit">Publish</div>
			</form>
			<form id="doc-claim-form" class="ui form claim" style="display:none">
				<div class="field">
					<div style="width: 375px" class="ui attached info message">Please reword the highlighted text to form a coherent and meaningful claim.</div>
					<textarea></textarea>
				</div>
				<div class="ui checkbox nopublish-wrapper">
					<label>Save for later</label>
					<input type="checkbox" name="nopublish">
				</div>
				<div class="ui primary button doc-anno-submit">Publish</div>
			</form>
		</div>
	</div>
	{% include 'doc-thread-popup.html' %}
</div>
<div class="ui main tab" data-tab="claim-tab">
	<div class="ui grid">
		<div class="ten wide column" style="margin-bottom: 3em">
			<div class="ui tabular menu" style="margin:0 -1px;border:none">
				<a class="item active claim-view-btn" data-type="overview">
					<i class="align justify icon"></i> Overview
				</a>
				<a class="item claim-view-btn" data-type="fullscreen">
					<i class="maximize icon"></i> Full-screen Review
				</a>
			</div>
			<div id="claim-pane"></div>
		</div>
		<div id="claim-navigator" class="six wide column" style="position:fixed;top:2.5em;bottom:3em;padding:0"></div>
		<div id="claim-merge-editor" class="ui modal">
			<i class="close icon"></i>
			<div class="content">
				<form class="ui form">
					<h4 class="ui dividing header">You are merging the following claims:</h4>
					<input type="hidden" />
					<div class="claim-content"></div>
					<textarea class="claim editor" rows="6"></textarea>
					<div class="ui primary button">Submit</div>
					<div class="ui close button">Discard</div>
				</form>
			</div>
		</div>
	</div>

	<div class="ui five steps" style="position:fixed;bottom:0;left:0">
		<div class="active step">
			<div class="title">Extract</div>
		</div>
		<div class="step">
			<div class="title">Categorize</div>
		</div>
		<div class="step">
			<div class="title">Assign Themes</div>
		</div>
		<div class="step">
			<div class="title">Prioritize &amp; Improve</div>
		</div>
		<div class="step">
			<div class="title">Citizens' Statement</div>
		</div>
	</div>
</div>
	{% endif %}
{% endblock %}