
{% if questions %}
<div class="ui relaxed list">
{% for question in questions %}
	<div class="question item">
		<div class="content">
			<div class="header">{{ question.content }} ({{ question.treesize }} replies)</div>
			<div class="description">
				<a class="user {{ question.author_role }}" data-id="{{ question.author_id }}">{{ entry.author_name }}</a>
				<abbr title="{{ question.updated_at_full }}">{{ question.updated_at }}</abbr>
				{% if question.last_reply %}
				<b>Last reply:</b> {{ question.last_reply }}
				{% endif %}
			{% if question.doc_id %}
				<div class="item">Raised in document <b>{{ question.doc_name }}</b></div>
			{% endif %}
				<div class="ui horizontal bulleted list">
					<a class="item expand-thread" data-id="{{ question.id }}">Show thread</a>
					{% if question.doc_id %}
					<a class="item find-in-doc" data-id="{{ question.doc_id }}" data-highlight-id="{{ question.highlight_id }}">Reveal in document</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
<div class="ui message">
	No questions at all.
</div>
{% endif %}
<div id="qa-thread" class="ui basic secondary segment" style="display:none"></div>
