<div id="tag-thread-popup">
	<div class="ui segment">
		<a href="#" class="close"><i class="remove icon">close</i></a>
		<div id="tag-thread-popup-selected-texts"></div>
		<div id="associated-tags" class="ui labels"></div>
		<div id="associated-tags-individual" class="ui labels"></div>
		<div id="associated-tags-all" class="ui labels"></div>
		<div class="ui divider"></div>
		<div>
		<form class="ui form">
			<div class="inline field">
				<label>Tags</label>
				<input style="width:70%;" id="tag-input-text" type="text" name="tags" placeholder="Input your tags">
				<a class="ui button add-tag">add</a>
			</div>
		</form>
		<div class="ui divider"></div>
<div>
tags used by you...
	<div id="candidate-tags" class="ui labels">
	</div>
</div>
<div>
	tags used by others...
	<div id="candidate-tags-others" class="ui labels">
	</div>
</div>
		</div>
	</div>
</div>