<div id="activities-wrapper" class="minimized">
	<a class="toggle ui teal label">
		<i class="bar chart icon"></i>
		Forum activities
	</a>
	<div class="ui secondary menu">
		<a class="item reload">Reload</a>
		<a class="item reset">Reset view</a>
		<div class="right menu">
			<div class="item">Legend</div>
			<div class="item">
				<i class="claim circle icon"></i>New claim
				<i class="categorize circle icon"></i>Categorization
				<i class="prioritize circle icon"></i>Prioritization
				<i class="improve circle icon"></i>Claim improving
				<i class="q circle icon"></i>Question
				<i class="comment circle icon"></i>Comment
			</div>
		</div>
	</div>
	<div id="activities-chart">
	</div>
</div>
