{% if highlights %}
	{% for highlight in highlights %}
		<div class="ui card workbench-nugget nugget-related" data-hl-id = {{ highlight.id }} style="background: PapayaWhip;">
			{% if highlight.is_nugget %}
				{% if highlight.is_used %}
				<a class="ui tiny green right corner label nugget2claim">
					<i class="icon"></i>
				</a>
				{% endif %}
				<div class="content">
					<div class="description more" data="{{ highlight.text}}">
						{{ highlight.text }}
					</div>
				</div>
			{% else %}
				<a class="ui tiny red right corner label">
					<i class="icon"></i>
				</a>	
				<div class="content">
					<div class="description more" data="{{ highlight.text}}">
						<span style="text-decoration:line-through">{{ highlight.text|truncatewords:20 }}</span>
					</div>
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% else %}
		<div class="ui card" style="background: PapayaWhip;">
				<div class="content">
					<div class="description">
						No nuggets yet.
					</div>
				</div>
		</div>
{% endif %}

