
		
	  	{% if highlight.is_nugget %}
	  	<div class="ui top attached label">nugget</div>
	 	<div class="content">
	    	<div class="description">
	      		{{ highlight.text }}
	    	</div>
	  	</div>
	  	<div class="extra content" style="font-size:12px;">
	  		{% if highlight.is_used %}
	  		<a><i class="check icon"></i>
    			used
    		</a>
	  		{% endif %}
			<div class="right floated author">
		      	collected by {{ highlight.author_name }}
			</div>
	  	</div>
	  	<div class="extra content">
		  	<div class="ui four buttons">
		    	<div class="ui basic blue button use-nugget">
		      		use
	    		</div>
	  	    	<div class="ui basic blue button source-nugget">
		      		source
	    		</div>
		    	<div class="ui basic red button delete-nugget">
		      		not useful
		    	</div>
		    	<div class="ui basic blue button reassign-nugget">
		      		reassign
		    	</div>
		  	</div>
	  	</div>
	  	{% else %}
	  	<div class="ui top attached label">nugget marked as not useful</div>
		<div class="dimmable dimmed content">
			<div class="ui dimmable dimmed segment">
				<div class="ui simple dimmer">{{ highlight.text }}</div>
			</div>
	  	</div>
	  	<div class="extra content">
			<div class="ui two buttons">
		    	<div class="ui basic blue button recover-nugget">
		      		recover
	    		</div>
		    	<div class="ui basic blue button source-nugget">
		      		source
		    	</div>
		  	</div>
	  	</div>
	  	{% endif %}


