{% if highlights %}
	{% for highlight in highlights %}
		<div class="ui card" class="workbench-nugget" data-hl-id = {{ highlight.id }} style="
			width:	96%; background: PapayaWhip;
		">
			{% if highlight.is_nugget %}
				{% if highlight.is_used %}
				<a class="ui tiny green right corner label nugget2claim">
					<i class="icon"></i>
				</a>
				{% endif %}
				<!--<div class="ui top attached label">nugget</div>-->
				<div class="content">
					<div class="description">
						{{ highlight.text }}
					</div>
				</div>
				<div class="extra content">
					<div class="ui horizontal bulleted list">
						<a class="item use-nugget">use</a>
						<a class="item source-nugget">source</a>
						<a class="item delete-nugget">not useful</a>
						<a class="item reassign-nugget">reassign</a>
					</div>	
					<div class="right floated author">
						collected by {{ highlight.author_name }}
					</div>
				</div>
			{% else %}
				<a class="ui tiny red right corner label">
					<i class="icon"></i>
				</a>	
				<div class="content">
					<div class="ui dimmable dimmed segment">
						<div class="ui simple dimmer">{{ highlight.text }}</div>
					</div>
				</div>
				<div class="extra content">
					<div class="ui horizontal bulleted list">
						<a class="item recover-nugget">recover</a>
						<a class="item source-nugget">source</a>
					</div>
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% else %}
		<div class="ui card" style="width:	96%; background: PapayaWhip;">
				<div class="content">
					<div class="description">
						No nuggets yet.
					</div>
				</div>
		</div>
{% endif %}

