<div class="ui three buttons" style="margin-bottom:10px;">
  <button class="ui green basic button image-prev" style="box-shadow: 0 0 0 0px #21ba45 inset!important; padding-left: 0; text-align: left; "><i class="icon chevron left"></i>Prev</button>
  <button class="ui disabled white basic button image-count" style="font-color:black;"></button>
  <button class="ui green basic button image-next" style="box-shadow: 0 0 0 0px #21ba45 inset!important; padding-right: 0; text-align: right;">Next<i class="icon chevron right"></i></button>
</div>

<ul id="slider">
	<li class="tutorial-image" data-id="1">
			<img src="http://imageprocessor.websimages.com/width/874/crop/0,0,874x640/geodeliberation.webs.com/CIR%20(1).png" alt="Alter Apfelbaum"/>
	</li>
<!-- 	<li class="tutorial-image" data-id="2">
        	<img src="https://c3.staticflickr.com/3/2942/15367308281_cf8a164414_h.jpg"/>
	</li>
	<li class="tutorial-image" data-id="3">
        	<img src="https://c4.staticflickr.com/4/3862/15368612485_251ef5de2f_h.jpg"/>
	</li> -->
</ul>

