<div class="ui nine buttons" style="margin-bottom:10px;">
  <button class="ui green basic button image-prev">< Prev</button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui disabled white basic button image-count" style="font-color:black;">2/4</button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui disabled white basic button" ></button>
  <button class="ui green basic button image-next">Next >></button>
</div>

<ul id="slider">
	<li class="tutorial-image" data-id="1">
			<img src="/media/tutorial_1.png" alt="Alter Apfelbaum"/>
	</li>
	<li class="tutorial-image" data-id="2">
        	<img src="https://c3.staticflickr.com/3/2942/15367308281_cf8a164414_h.jpg"/>
	</li>
	<li class="tutorial-image" data-id="3">
        	<img src="https://c4.staticflickr.com/4/3862/15368612485_251ef5de2f_h.jpg"/>
	</li>
</ul>

