<div class="ui top attached tabular menu" id="workbench-tab">
	<a class="item active" data-tab="finding">Findings</a>
	<a class="item" data-tab="opinion">Opinions</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="finding">
	<div class="ui form">
	  	<div class="field">
	    	<label>Construct the finding by revealing important facts</label>
	    	<textarea rows="5"></textarea>
	  	</div>
	</div>
	<a class="workbench-add-claim" style="margin-top:0.5em">
  		add
	</a>
	<ul>
		{% for item in finding %}
			<li>
				<div class="workbench-claim-content" claim-id="{{ item.id }}" data-id="{{ item.highlight_ids }}"> {{ item.content }} </div>
				<div>
					{% if item.is_author %}
					<a href="javascript:;" class="workbench-edit-claim">edit</a>
					<a href="javascript:;" class="workbench-save-claim" style="display: none;">save</a>
					<span> | </span>
					<a href="javascript:;" class="workbench-remove-claim">remove</a>
					<span> | </span>
					{% endif %}
					<a href="javascript:;" class="workbench-source-claim">source</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<div class="ui bottom attached tab segment" data-tab="opinion">
	<div class="ui form">
	  	<div class="field">
	    	<label>Construct the opinion with your position, reason and corresponding facts</label>
	    	<textarea rows="5"></textarea>
	  	</div>
	</div>
	<a class="workbench-add-claim" style="margin-top:0.5em">
  		add
	</a>
	<ul>
		{% for item in opinion %}
			<li>
				<div class="workbench-claim-content" claim-id="{{ item.id }}" data-id="{{ item.highlight_ids }}"> {{ item.content }} </div>
				<div>
					{% if item.is_author %}
					<a href="javascript:;" class="workbench-edit-claim">edit</a>
					<a href="javascript:;" class="workbench-save-claim" style="display: none;">save</a>
					<span> | </span>
					<a href="javascript:;" class="workbench-remove-claim">remove</a>
					<span> | </span>
					{% endif %}
					<a href="javascript:;" class="workbench-source-claim">source</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

