<div class="ui large menu">
  	<div class="item">
  		<img src="/media/forum_logos/default.jpg" style="width:5em">
  	</div>
  	<a class="item" href="/{{ forum_url }}/">
    	{{ forum_name }}
  	</a>
  	<a class="item" href="javascript:;">
    	Day1
  	</a>
  	<a class="item" href="javascript:;" id="current-phase">
    	Current phase: {{ phase.full_name }}
  	</a>
  	<div class="right menu">
	    <div class="ui right dropdown item" id="claim-theme-filter-menu">
	      	Schema: <i class="dropdown icon"></i>
	      	<div class="menu">
				  <div class="item claim-theme-filter active selected" data-id="-1">All</div>
				{% for theme in themes %}
					<a class="item claim-theme-filter" data-id="{{ theme.id }}">{{ theme.name }}</a>
				{% endfor %}
	      	</div>
	    </div>
        <div class="active orange item" id="current-claim-theme-text">All</div>
  	</div>
</div>

<div class="ui special popup" id="phase-instructions">
    {{ phase.instructions }}
</div>