<div class="ui large menu">
<!--     <div class="ui simple dropdown item" id="topic-selection-doc-toc">
    </div> -->
    <div class="ui item" data-id="0">
      Finalizing Panelist Materials for the April 2016 Community Issue Review
    </div>
  	<div class="right menu">
      <a class="ui right dropdown item" id="claim-theme-add">
        <i class="plus icon"></i>
        <span class="text"></span>
        <div class="menu" style="min-width:500px;">
          <div class="header">
            Topic name
          </div>
          <div id="topic-name" class="ui form" style="padding:1em;">
            <div class="field">
              <textarea rows="1"></textarea>
            </div>
          </div>
          <div class="header">
            Topic description
          </div>
          <div id="topic-description" class="ui form" style="padding:1em;">
            <div class="field">
              <textarea rows="3"></textarea>
            </div>
          </div>

          <div class="divider"></div>
          
          <div class="item" id="claim-theme-add-submit">
            <div class="ui green empty circular label"></div>
            Add this topic
          </div>
        </div>
      </a>
      <div class="ui item" id="feng1" style="padding:0;"> </div>
	    <div class="ui right dropdown item" id="claim-theme-filter-menu">
	      	<i class="dropdown icon"></i>
	      	<div class="menu">
				  <div class="item claim-theme-filter active selected" data-id="-1">All</div>
				{% for theme in themes %}
					<a class="item claim-theme-filter" data-id="{{ theme.id }}">{{ theme.name }}</a>
				{% endfor %}
	      	</div>
	    </div>
        <div class="active orange item" id="current-claim-theme-text">All</div>
  	</div>
</div>

<div class="ui special popup" id="phase-instructions">
    {{ phase.instructions }}
</div>