{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'phase1/layout',
            'realtime/socket'
        ]);
    </script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}

<!-- <div style="font-size:1.2em; position:fixed; top:50px; left:0; right:0; height:40px;">
	<div id="theme-top" style="margin:auto; width:1200px;">Themes:</div>
</div> -->

<!-- left panel -->
<div style="font-size:1.2em; position:fixed; top:60px; bottom:0; left:0; right:50%; margin-right:1rem;">
	<!-- real container -->
<!-- 	<div style="position:absolute; width:100%; max-width:640px; right:0;">
		<div style="padding-left:2em;" class="ui text menu">
			<div class="header item">document</div>
			<div id="document-toc-button" class="ui floating labeled icon dropdown basic button">
  				<span class="text">Table of contents</span>
  				<i class="dropdown icon"></i>
  			</div>
			<div id="document-toc-container" class="ui special popup" style="min-width:80%; max-height:500px; overflow:auto;"></div>
			<a href='#' class="ui basic button" onclick='javascript:window.open("../vis", "_blank", "scrollbars=1,resizable=1,height=800,width=1200");' title='NuggetLens'>NuggetLens</a>	
		</div>
	</div> -->
	<h3 class="ui top attached center aligned header">
		Document Collection
	</h3>
	<div class="ui attached segment" style="height: calc(100% - 38px);">
		<div class="ui top attached tabular menu">
			<div class="ui text menu" style="margin:0;">
				<a id="document-toc-button" class="header item"> Table of Contents
				</a>
			</div>
			<div id="document-toc-container" class="ui special popup" style="min-width:400px; max-height:500px; overflow:auto;"></div>
			<div class="right menu">
				<div class="item" style="padding-right:0;">
					<div class="ui transparent icon input">
						<input type="text" placeholder="Search...">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
		</div>
		<div id="workbench-document-panel" class="ui bottom attached segment" style="height: calc(100% - 47px); overflow:hidden; overflow-y:scroll; ">
			<div id="workbench-document-container" style="border-radius: 0;">
				<div class="ui massive active text loader">Loading Documents...</div>
			</div>		
		</div>
	</div>
</div>

<!-- right panel -->



<div id="slot-overview" style="font-size:1.2em; position:fixed; top:60px; bottom:0; left:50%; right:0;">
	<h3 class="ui top attached center aligned header">
		Statements
	</h3>
	<div class="ui attached segment" style="height: calc(100% - 38px);">
		<div class="ui top attached tabular menu">
			<a class="category-tab item active" data-id="finding">
				Findings
			</a>
			<a class="category-tab item" data-id="pro">
				Pros
			</a>
			<a class="category-tab item" data-id="con">
				Cons
			</a>
			<div class="right menu">
				<div class="ui text menu" style="margin:0;">
					<div class="header item">Sort By</div>
					<a class="active item">
						Date
					</a>
					<a class="item">
						#Comments
					</a>
					<a class="item">
						#Votes
					</a>
				</div>
			</div>
		</div>
		<div id="statement-container" class="ui bottom attached segment" style="height: calc(100% - 47px); overflow:hidden; overflow-y:scroll; ">
			<div class="ui massive active text loader">Loading...</div>
		</div>
	</div>
</div>

<div id="slot-detail" style="font-size:1.2em; position:fixed; top:60px; bottom:0; left:50%; right:0; display:none;">
	<h3 class="ui top attached center aligned header">
		<a href="#" class="ui icon back-to-statement-list" style="float:left; margin:0; font-size:1.2rem;">
			<i class="left chevron icon" style="margin-right:0;"></i> List
		</a>
  		Statement Detail
	</h3>
	<div class="container ui attached segment" style="height: calc(100% - 40px); overflow:hidden; overflow-y:scroll; ">
		<div class="ui massive active text loader">Loading...</div>
	</div>
</div>

	<div id="new-slot-modal" class="ui small modal">
		<i class="close icon"></i>
		<div class="header">
		Create a New Guiding Question <a class="ui teal tag label">Pro</a>
		</div>
		<div class="content">
			<div class="ui form">
				<div class="field">
					<textarea></textarea>
				</div>
			</div>
		</div>
		<div class="actions">
		<div class="ui button" id="create-empty-slot">Create</div>
		</div>
	</div>
	
    <div id="chat-opened" style="position: fixed; bottom:0; right: 50px; width: 300px; height: 400px; outline: 1px solid #ccc; display:none; border: 1px solid; z-index: 1;">
        <div id="chat-header" style="height: 30px; top: 0;background: #262626;padding-left: 5px;padding-top: 5px;">
			<i class="large inverted comments outline icon"></i>
			<i style="float:right;" class="large inverted minus icon"></i>
        </div>
        <div id="chat-msgs" style="position: absolute; width:100%; top: 30px; bottom:55px; background: white; padding-left: 5px; padding-top: 5px; overflow:hidden; overflow-y:scroll; border-bottom: 1px solid;">
			<ul>
				<li>Link 1</li>
				<li>Link 2</li>
				<li>Link 3</li>
				<li>Link 4</li>
				<li>Link 5</li>
				<li>Link 6</li> 
				<li>Link 7</li> 
				<li>Link 8</li>
				<li>Link 9</li>
				<li>Link 10</li>
				<li>Link 11</li>
				<li>Link 12</li>
				<li>Link 13</li>
				<li>Link 14</li>
				<li>Link 15</li>
				<li>Link 16</li>
				<li>Link 17</li>
			</ul>
        </div>
        <div id="chat-input" style="position: absolute; width:100%; height: 55px; bottom: 0; background:white;">
        	<div style="margin:5px;">
        		<textarea style="width:100%;"></textarea>
        	</div>
        </div>
    </div>

    <div id="chat-closed" style="position: fixed; bottom:0; right: 50px; width: 35px; height: 30px; outline: 1px solid #ccc;">
        <div style="height: 30px; top: 0;background: #262626;padding-left: 5px;padding-top: 5px;">
			<i class="large inverted comments outline icon"></i>
        </div>
    </div>

{% include 'qa/qa-wrapper.html' %}

<!-- {% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %} -->

{% include 'phase1/nugget_comment.html' %}
{% include 'phase1/nugget_toolbar.html' %}

{% endblock %}

