{% extends 'base.html' %}
{% load static %}
{% load compressed %}
{% block extralib %}
    <script>
        require([
            'phase1/layout',
            'realtime/socket'
        ]);
    </script>
{% endblock %}
{% block extracss %}
	{% compressed_css 'cir_forum' %}
{% endblock %}
{% block header %}
	{% include 'header/forum_header.html' %}
{% endblock %}

{% block body %}


<!-- left panel -->
<div style="font-size:1.2em; position:fixed; top:50px; bottom:0; left:0; right:50%;">
	<div>
		<div style="padding-left:2em;" class="ui text menu">
			<div class="header item">document</div>				
			<button id="document-toc-button" class="ui blue basic button">table of contents</button>
			<div id="document-toc-container" class="ui special popup" style="min-width:80%; max-height:500px; overflow:auto;"></div>

<!-- 			<div class="ui checked checkbox item">
				<input type="checkbox" checked="">
				<label>collaborative mode</label>
			</div> -->
		</div>
	</div>
	<div style="overflow:auto; top:60px; bottom:0; position:absolute; left:0; right:0; padding:1em; padding-top:0;" id="workbench-document-panel">
		<div id="workbench-document-container" class="ui segment" style="border-radius: 0;">
			<!-- <img style="width:100%;" src="http://imageprocessor.websimages.com/width/874/crop/0,0,874x640/geodeliberation.webs.com/CIR%20(1).png"> -->
		</div>		
	</div>
</div>

<!-- right panel -->
<div style="font-size:1.2em; position:fixed; top:50px; bottom:0; left:50%; right:0;">
	<div>
		<div style="padding-left:2em;" class="ui text menu">
			<div class="header item">nugget list</div>
			<div class="header item" style="border-left: 1px solid #000000;margin-left: 1em;">sort by</div>
			<select name="gender" class="ui dropdown item" id="nugget-list-order-by">
				<option value="option1">latest</option>
<!-- 				<option value="option2">most popular</option> -->
			</select>

			<div class="header item" style="border-left: 1px solid #000000;margin-left: 1em;">theme</div>
			<select name="gender" class="ui dropdown item" id="nugget-list-theme">
			</select>

			<div class="ui checked checkbox item" id="doc-only">
				<input type="checkbox" checked="">
				<label>this document only</label>
			</div>
		</div>
	</div>
	<div style="overflow:auto; top:60px; bottom:0; position:absolute; left:0; right:0; padding:1em; padding-top:0;">
		<div id="workbench-nugget-list" class="ui segments" style="border-radius: 0;">
			<div class="ui segment">
				<div class="ui active small inline loader"></div>loading
			</div>
		</div>
	</div>
</div>

{% include 'qa/qa-wrapper.html' %}

{% if role != 'visitor' %}
	{% include 'chatter.html' %}
{% endif %}

{% include 'phase1/nugget_comment.html' %}
{% include 'phase1/nugget_toolbar.html' %}

{% endblock %}

