<div id="doc-highlight-toolbar">
		<div class="ui attached top segment blue labeled icon menu">
			<a data-action="claim" class="item doc-anno-btn">
				<i class="code icon"></i>Extract nugget
			</a>
		</div>
		<div class="ui attached bottom segment">
			<form id="doc-claim-form" class="ui form claim">
				<div class="ui error message"></div>
				<div class="required field">
					<label>Please assign a theme</label>
					<select id="nugget-tool-bar-themes" class="ui fluid dropdown" name="theme">
						{% for theme in themes %}
							<option value="{{ theme.id }}">{{ theme.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div id="create-nugget" class="ui submit primary button">Publish</div>
				<div id="ask-question-about-nugget" class="ui submit button">Raise a question</div>
			</form>
		</div>
</div>