<div id="doc-highlight-toolbar" draggable="true" nugget-id="">
        <div style="height: 55px; top: 0;background: #262626;padding-left: 5px;padding-top: 5px;">
			<i style="cursor: move;" class="huge inverted hand lizard icon"></i>
			<i style="float:right;" class="large inverted remove icon"></i>
        </div>
        <div id="highlight-content" style="padding:1rem;">
        	2. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div style="padding:1rem;">
        	Used in Slots: <span class="used_in"></span>
        </div>
        <div id="highlight-discussion" style="padding:0.5rem;">
        	<button class="ui blue basic button view-nugget-question" style="margin:0; width:100%;">Discussion</button>
    	</div> 
<!--         <div id="highlight-delete" style="padding:0.5rem; padding-top:0;">
        	<button class="ui red basic button" style="margin:0; width:100%;">Delete</button>
    	</div> -->
</div>