<div class="category-list" data-list-type="finding">
	{% include 'phase1/statement-list.html' with categories=categories.finding %}
</div>

<div class="category-list" data-list-type="pro" style="display:none">
	{% include 'phase1/statement-list.html' with categories=categories.pro %}
</div>

<div class="category-list" data-list-type="con" style="display:none">
	{% include 'phase1/statement-list.html' with categories=categories.con %}
</div>

<button class="ui blue basic button create-new-slot-btn" style="width:100%; margin-top:1rem;">Create a new question</button>



