{% for topic in topics %}
<div class="four wide column topic-container">
  <div class="ui card">
    <div class="content">
      <div class="header">Topic {{ forloop.counter0 }}
        <input type="checkbox" class="topic-checkbox" style="float: right;">
      </div>
    </div>
    <div class="content">
      {% for word, weight, color in topic %}
        {% if forloop.counter <= 15 %}
        <div class="ui label" draggable="true" ondragstart="drag(event)" id="{{ word }}" ondrop="drop(event)" ondragover="allowDrop(event)" style="margin: 0.1em; padding:2px;">
          {{ word }}
          <span style="font-size:10px; padding-left:{{ weight }}px; background:#{{ color }};">&nbsp;</span>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="extra content">
      <div class="ui mini action input">
        <input type="text" style="width:3em;" placeholder="#">
        <button class="split-topic ui mini button" topic-id="{{ forloop.counter0 }}">Split</button>
      </div>
      <button class="ui mini button show-petitions" topic-id="{{ forloop.counter0 }}" style="float:right;">Petitions</button>
    </div>
  </div>
</div>
{% endfor %}

