<div id="issue-briefing" class="ui container">
    <iframe src="https://pennstate.qualtrics.com/jfe6/form/SV_3rXPoN6pVNoN8bz" frameborder="0" width="100%" height="800"></iframe>
    <p>
        Dear State College resident:
    </p>
    <p>
        Welcome to the Community Deliberative Polling ... This system consists of three steps.
    <p>
        To participate in the forum activities (voting and discussion), please first sign up. If you have participated in
        the online section of Community Issue Review (CIR), you can use your CIR login credentials.
    </p>
    <p>
        The community issue is presented as follows:
    </p>
    <h2 class="ui large header serif dividing">Issue description</h2>
    <p class="serif large-text">
        One goal of the borough is to maintain quality of life. A proposal to address quality of life is to
        increase property taxes each year in line with inflation. Property tax affects everyone in the borough and is
        one of the only two ways that the borough can generate revenue (one being property taxes, another being wage
        taxes).
    </p>
    <p class="serif large-text">
        Should the borough maintain or increase property tax in line with inflation to address quality of life
        issues such as property crime?
    </p>
    <h2 class="ui large header serif dividing">Proposed action</h2>
    <p class="serif large-text">
        The proposal is for the State College Borough government to implement an annual automatic inflation-based
        property tax increase. The Borough expects its annual costs of operation to increase by at least the rate of
        inflation, just as every consumer and business experience price increases. The index used to compute the annual
        property tax increase would be based on the <u>Municipal Cost Index (MCI)</u>, a measure of the increase in the
        cost of goods and services typically procured by municipalities.
    </p>
    <div class="ui container segment">
        <form id="issue-vote-form" class="ui form">
            <div class="ui info message">
                Based on the above information and your own knowledge on this issue, please form an initial opinion on this policy proposal using the following slider bar.
                (Note: this action will only be used for research purposes)
            </div>

            <div id="issue-voter" class="grouped fields">
                <div class="field">
                    <strong>Statement</strong>: <i>the policy proposal on an annual automatic property tax increase should be implemented in the State College Borough.</i>
                    <div style="position:relative;margin:0 0.75rem">
                        <input type="range" min="-100" max="100">
                    </div>
                    <div class="indicators" style="width:100%;position:relative;top:-10px">
                        <span style="position:absolute;left:0">Strongly oppose</span>
                        <span style="position:absolute;left:50%;transform:translate(-50%)">Neutral</span>
                        <span style="position:absolute;right:0">Strongly support</span>
                    </div>
                </div>
            </div>
            <div class="ui info top attached message">
                Please indicate why you make such judgment. (Note: this response will only be used for research purposes)
            </div>
            <div class="field">
                <textarea id="issue-vote-textarea"></textarea>
            </div>
            <div id="issue-vote-btn" class="ui submit primary fluid small button">Submit and Proceed</div>
        </form>
    </div>
</div>