<div id="issue-briefing" class="ui container">
    <div class="ui message" style="font-size: 1.3em;">
        <p>
            Dear State College resident:
        </p>
        <p>
            Thank you for joining us in this online Community Deliberative Polling system. Your vote in this system will
            create
            direct impact on the decision-making on the inflation-based property tax index issue. Your participation in
            this system
            consists of three steps:
        <ol>
            <li><b>Initial opinion expression</b> (current screen): after understanding the outline of the issue, we ask
                you to cast your initial vote.
            </li>
            <li><b>Read Citizens Statement</b>: a randomly assembled citizen panel has worked on this issue together
                with Borough officials and
                policy experts. They compiled a document, Citizens Statement, that articulates the policy proposal in
                depth as well as its pros-and-cons.
            </li>
            <li><b>Community deliberation</b>: in this stage you will join your fellow residents and property owners in
                a community-wide deliberation,
                and share and discuss your opinion and information on this issue.
            </li>
        </ol>
        </p>
        <p>
            Please keep in mind that you may update your vote any time in this system (in all three phases). Your vote
            as well as
            the reason you give are important input to the decision-making body at the Borough.
        </p>
        <p>
            To participate in the forum activities (voting and discussion), please first sign up. If you have
            participated in
            the online section of Community Issue Review (CIR), you can use your CIR login credentials.
        </p>
    </div>
    <div class="ui info message">Please read the introduction above before proceeding to the Issue Description.</div>
    <h2 class="ui large header serif dividing">Issue description</h2>
    <p class="serif large-text">
        One goal of the Borough is to maintain quality of life. A proposal to address quality of life is to
        increase property taxes each year in line with inflation. Property tax affects everyone in the borough and is
        one of the only two ways that the borough can generate revenue (the other being wage
        taxes).
    </p>
    <p class="serif large-text">
        Should the borough maintain or increase property tax in line with inflation to address quality of life
        issues such as property crime?
    </p>
    <h2 class="ui large header serif dividing">Proposed action</h2>
    <p class="serif large-text">
        The proposal is for the State College Borough government to implement an annual automatic inflation-based
        property tax increase. The Borough expects its annual costs of operation to increase by at least the rate of
        inflation, just as every consumer and business experience price increases. The index used to compute the annual
        property tax increase would be based on the <u>Municipal Cost Index (MCI)</u>, a measure of the increase in the
        cost of goods and services typically procured by municipalities.
    </p>
    {% if flavour != 'mobile' %}<div class="ui container segment issue-vote-form-wrapper">{% endif %}
        <form id="issue-vote-form" class="ui form">
            <div class="ui info message">
                Based on the above introduction and your own knowledge on this issue, please take an initial position on this policy proposal using the following slider bar.
            </div>

            <div id="issue-voter" class="grouped fields">
                <div class="field">
                    <strong>Statement</strong>: <i>the policy proposal on an annual automatic property tax increase should be implemented in the State College Borough.</i>
                    <div style="position:relative;margin:0 0.75rem">
                        <input type="range" min="-100" max="100">
                    </div>
                    <div class="indicators" style="width:100%;position:relative;top:-10px">
                        <span style="position:absolute;left:0">Strongly oppose</span>
                        <span style="position:absolute;left:50%;transform:translate(-50%)">Neutral</span>
                        <span style="position:absolute;right:0">Strongly support</span>
                    </div>
                </div>
            </div>
            <div class="ui info top attached message">
                Please indicate why you take such position.
            </div>
            <div class="field">
                <textarea id="issue-vote-textarea"></textarea>
            </div>
            <div id="issue-vote-btn" class="ui submit primary fluid small button">Submit and Proceed</div>
        </form>
    {% if flavour != 'mobile' %}</div>{% endif %}
</div>