<div id="stmt-quiz">
    <div id="stmt">
        <h2>Citizen's statement on {{ forum_name }}</h2>
        <p class="stmt-group-question">Issue description</p>
        {{ stmt_preamble|safe }}
        <div class="ui message">
            <p>A randomly assembled citizen panel has conducted an extensive analysis on the proposed
                policy on inflationary tax increasing, and the findings are as follows.</p>
            <p>This <i>Citizens Statement</i> presents the policy proposal and its pros and cons
            as 6 questions and answers.</p>
            <p>In this section, please carefully read each question and answers, and write a brief summary on
            what you know about each question and what you learned from the answers of each question.</p>
            <p>As you read this Citizens Statement and learn more about the issue, you can revise your initial
            position on whether the proposal should be implemented. To revise your position, please click the blue banner
            on the bottom-right corner of your browser.</p>
            <p>Please scroll down to start reading.</p>
        </div>
        {% for category in statement_categories %}
            <h3 class="stmt-category-title">{{ category.description }}</h3>
            <section class="stmt-category">
                {% for group in category.groups %}
                <div class="stmt-question-wrapper">
                    <p class="stmt-group-question" data-id="{{ group.id }}">{{ group.description|safe }}</p>
                    <ol class="ui list">
                        {% for item in group.items %}
                            <li class="item stmt-item">{{ item.content|safe }}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
    <div id="quiz-area">
        <div id="quiz-answers-wrapper" class="ui form">
            {% for category in statement_categories %}
                {% for group in category.groups %}
                    <div class="stmt-quiz-answer" data-id="{{ group.id }}">
                        {{ group.extra_description }}
                        <textarea rows="2"></textarea>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% if most_recent_vote %}
            <div id="my-vote" class="collapsed">
                <div class="ui top attached message">
                    Your most recent vote: <strong>{{ most_recent_vote.voted_at }}</strong>
                </div>
                <div class="ui bottom attached info message vote-change-instruction">
                    Click here to revise your vote
                </div>
                <div class="ui bottom attached segment stmt-voter">
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <strong>Statement</strong>: <i>the policy proposal on an annual automatic property tax
                                increase should be implemented in the State College Borough.</i> (The vertical bar
                                indicates your most recent vote)
                                <div style="position:relative;margin:0 0.75rem">
                                    <input type="range" min="-100" max="100" value="{{ most_recent_vote.vote }}">
                                    <div class="last-time-indicator" style="left:{{ most_recent_vote.vote_percentage }}%"></div>
                                </div>
                                <div class="indicators" style="width:100%;position:relative;top:-10px">
                                    <span style="position:absolute;left:0">Strongly oppose</span>
                                    <span style="position:absolute;left:50%;transform:translate(-50%)">Neutral</span>
                                    <span style="position:absolute;right:0">Strongly support</span>
                                </div>
                            </div>
                        </div>

                        <div class="ui info message">
                            Please indicate why you revised your vote. (Note: this response will only be used for
                            research purposes)
                        </div>
                        <div class="field">
                            <textarea rows="3" id="stmt-vote-textarea"></textarea>
                        </div>
                        <div class="two ui buttons">
                            <div id="stmt-vote-btn" class="ui submit primary small button">Submit</div>
                            <div id="stmt-cancel-btn" class="ui small button">Cancel</div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
        <button id="stmt-quiz-submit-btn" class="ui submit primary fluid small button">Submit and Proceed</button>
    </div>
</div>